<section class="standard-form">
  <ul class="advancement-list">
    {{#each rootNodes as |nodeArray|}}
    {{#each nodeArray}}
    <li class="advancement" data-advancement-uuid="{{advancement.uuid}}">
      <div class="advancement-row">
        <img class="advancement-img" src="{{advancement.img}}" alt="{{advancement.name}}">
        <div class="advancement-name">{{advancement.name}}</div>
        <div class="advancement-controls">
          {{#if advancement.isChoice}}
          <button type="button" class="icon fa-solid fa-fw {{ifThen isConfigured 'fa-check' 'fa-cog'}}" data-action="configureAdvancement"></button>
          {{/if}}
        </div>
      </div>
      {{#if enrichedDescription}}
      <div class="enriched-description">{{{enrichedDescription}}}</div>
      {{/if}}
      <ul class="advancement-choices">
        {{#each choices}}
        {{#if isChosen}}
        <li class="advancement-choice">{{{label}}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </li>
    {{/each}}

    {{#unless @last}}
    <hr>
    {{/unless}}

    {{/each}}
  </ul>
</section>
