<section class="standard-form">
  <ul class="advancement-list">
    {{#each ctx.chains}}

    {{#each this}}
    <li class="advancement" data-advancement-uuid="{{advancement.uuid}}">
      <div class="advancement-row">
        <img class="advancement-img" src="{{advancement.img}}" alt="{{advancement.name}}">
        <div class="advancement-name">{{advancement.name}}</div>
        <div class="advancement-controls">
          {{#if advancement.isChoice}}
          <button type="button" class="icon fa-solid fa-fw {{ifThen isConfigured 'fa-check' 'fa-cog'}}" data-action="configureAdvancement"></button>
          {{/if}}
        </div>
      </div>
      {{#if enrichedDescription}}
      <div class="enriched-description">{{{enrichedDescription}}}</div>
      {{/if}}
      <ul class="advancement-choices">
        {{#each choices}}

        {{#if isChosen}}

        {{!-- ITEM GRANT SELECTED CHOICES --}}
        {{#if (eq node.advancement.type "itemGrant")}}
        <li class="advancement-choice" data-item-uuid="{{item.uuid}}">{{{itemLink.outerHTML}}}</li>
        {{/if}}
        {{!-- TRAIT SELECTED CHOICES --}}
        {{#if node.advancement.isTrait}}
        <li class="advancement-choice">{{choice}}</li>
        {{/if}}

        {{/if}}
        {{/each}}
      </ul>
    </li>
    {{/each}}

    {{#unless @last}}
    <hr>
    {{/unless}}

    {{/each}}
  </ul>
</section>
