<ol class="combat-tracker ds-default">
  {{#each groupTurns}}
  {{#if isGroup}}
  <li class="combatant-group {{css}}" data-action="toggleGroupExpand" data-group-id="{{id}}">
    <header class="group-header">
      <img class="token-image" src="{{ img }}" alt="{{ name }}" loading="lazy">
      <div class="token-name">
        <strong class="name">{{ name }}</strong>
        {{#if stamina}}
        <div class="squad-stamina">{{stamina.value}} / {{stamina.max}}</div>
        {{/if}}
      </div>
      <div class="token-initiative">
        <a class="activate-combatant" data-action="activateGroup" data-tooltip="DRAW_STEEL.Combat.Initiative.Actions.{{activateTooltip}}">
          {{initiativeCount}} <i class="fa-solid {{initiativeSymbol}}"></i>
        </a>
      </div>
    </header>
    <ol class="group-turns">
      {{#each turns}}
      {{> "systems/draw-steel/templates/combat/turn.hbs"}}
      {{/each}}
    </ol>
  </li>
  {{else}}
  {{> "systems/draw-steel/templates/combat/turn.hbs"}}
  {{/if}}
  {{/each}}
</ol>
