<section class="standard-form tab {{tabs.languages.cssClass}}" data-tab="languages" data-group="primary">
  <div class="form-group">
    <button type="button" data-action="addEntry" data-path="languages">
      <i class="fa-solid fa-plus"></i>
      {{localize "DRAW_STEEL.JournalEntryPage.config.addEntry.language"}}
    </button>
  </div>
  <div class="scrollable">
    {{#each languages}}
    <fieldset>
      <legend>
        <button type="button" data-action="removeEntry" data-path="languages" data-index="{{@index}}">
          <i class="fa-solid fa-trash"></i>
          {{localize "DRAW_STEEL.JournalEntryPage.config.removeEntry.language"}}
        </button>
      </legend>
      {{#if warnDuplicateKey}}
      <div class="notification warning">{{localize "DRAW_STEEL.JournalEntryPage.config.duplicateEntry"}}</div>
      {{/if}}
      <div class="form-group">
        {{formGroup fields.label value=values.label name=names.label hint="" dataset=(object tooltipText=fields.label.hint)}}
        {{formGroup fields.key value=values.key name=names.key hint="" placeholder=keyPlaceholder dataset=(object tooltipText=fields.key.hint)}}
      </div>
    </fieldset>
    {{/each}}
  </div>
</section>
