<section class="standard-form tab {{tabs.monsterKeywords.cssClass}}" data-tab="monsterKeywords" data-group="primary">
  <div class="form-group">
    <button type="button" data-action="addEntry" data-path="monsterKeywords">
      <i class="fa-solid fa-plus"></i>
      {{localize "DRAW_STEEL.JournalEntryPage.config.addEntry.monsterKeyword"}}
    </button>
  </div>
  <div class="scrollable">
    {{#each system.monsterKeywords as |mk idx|}}
    <fieldset>
      <legend>
        <button type="button" data-action="removeEntry" data-path="monsterKeywords" data-index="{{idx}}">
          <i class="fa-solid fa-trash"></i>
          {{localize "DRAW_STEEL.JournalEntryPage.config.removeEntry.monsterKeyword"}}
        </button>
      </legend>
      <div class="form-group">
        {{formGroup @root.systemFields.monsterKeywords.element.fields.key value=mk.key name=(concat "system.monsterKeywords." idx ".key")}}
        {{formGroup @root.systemFields.monsterKeywords.element.fields.label value=mk.label name=(concat "system.monsterKeywords." idx ".label")}}
      </div>
      {{formGroup @root.systemFields.monsterKeywords.element.fields.reference value=mk.reference name=(concat "system.monsterKeywords." idx ".reference")}}
    </fieldset>
    {{/each}}
  </div>
</section>
