<fieldset class="characteristics flexrow">
  <legend>
    {{systemFields.characteristics.label}}
    {{#unless (or isPlay editCharacteristics)}}
    <button type="button" class="icon fa-solid fa-cog" data-action="editCharacteristics"></button>
    {{/unless}}
  </legend>
  {{#each characteristics as |chr key|}}
  {{#unless ../editCharacteristics}}
  <a
    class="characteristic play"
    data-action="roll"
    data-roll-type="characteristic"
    data-characteristic="{{key}}"
    data-tooltip-text="{{localize "DRAW_STEEL.ROLL.Prompt" prompt=chr.field.label}}"
    {{disabled (not @root.isPlay)}}
  >
    {{chr.field.label}} {{numberFormat chr.value sign=true}}
  </a>
  {{else}}
  <label class="characteristic edit" data-tooltip="{{chr.field.label}}">
    <span class="label">{{chr.field.hint}}</span>
    {{formInput chr.field value=chr.value placeholder="0"}}
  </label>
  {{/unless}}
  {{/each}}
</fieldset>
