{{! Biography Tab }}
<section class="tab biography {{tab.cssClass}}" data-group="primary" data-tab="biography">
  <fieldset>
    <legend>{{systemFields.biography.fields.languages.label}}</legend>
    {{#if isPlay}}
    {{languages.list}}
    {{else}}
    {{formInput systemFields.biography.fields.languages value=systemSource.biography.languages disabled=(not editable) dataset=datasets.isSource options=languages.options}}
    {{/if}}
  </fieldset>
  {{#if editable}}
  {{formGroup
  systemFields.biography.fields.value
  enriched=enrichedBiography
  value=systemSource.biography.value
  documentUUID=actor.uuid
  collaborate=true
  toggled=isPlay
  height=200
  }}
  {{#if gm}}
  {{formGroup
  systemFields.biography.fields.gm
  enriched=enrichedGMNotes
  value=systemSource.biography.gm
  documentUUID=actor.uuid
  toggled=isPlay
  height=300
  }}
  {{/if}}
  {{else}}
  <fieldset>
    <legend>{{systemFields.biography.fields.value.label}}</legend>
    {{{enrichedBiography}}}
  </fieldset>
  {{#if gm}}
  <fieldset>
    <legend>{{systemFields.biography.fields.gm.label}}</legend>
    {{{enrichedGMNotes}}}
  </fieldset>
  {{/if}}
  {{/if}}
</section>
