{{#*inline "kitDamageBonuses"}}
{{#if (or damage.tier1 damage.tier2 damage.tier3)}}
{{numberFormat damage.tier1 sign=true}} / {{numberFormat damage.tier2 sign=true}} / {{numberFormat damage.tier3 sign=true}}
{{/if}}
{{/inline}}

{{! Equipment Tab }}
<section class="tab equipment {{tab.cssClass}}" data-group="primary" data-tab="equipment">
  {{! Kits List}}
  {{#if (or system.class.system.kits kits.length)}}
  <section class="item-list-container kit-list-container">
    <div class="item-header">
      <div class="item-column item-name">{{localize "TYPES.Item.kit"}} ({{kits.length}} / {{ifThen system.class.system.kits system.class.system.kits 0}})</div>
      <div class="item-column item-melee-bonus">{{kitFields.bonuses.fields.melee.fields.damage.label}}</div>
      <div class="item-column item-ranged-bonus">{{kitFields.bonuses.fields.ranged.fields.damage.label}}</div>
      <div class="item-column item-controls">
        {{#with (localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.kit")) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="kit" data-render-sheet="true" data-tooltip="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
      </div>
    </div>
    <ol class="item-list2 kit-list">
      {{#each kits as |kitContext|}}
      <li class="item feature draggable" data-item-id="{{kitContext.item.id}}" data-document-class="Item">
        <div class="item-row">
          <div class="item-column item-name" data-action="useAbility">
            <img class="item-image" src="{{kitContext.item.img}}" alt="{{kitContext.item.name}}">
            {{#if (eq @root.system.hero.preferredKit kitContext.item.id)}}
            <i data-tooltip="{{localize "DRAW_STEEL.Item.Kit.PreferredKit.Label"}}" class="fa-solid fa-star"></i>
            {{/if}}
            <div class="name">
              <div class="label">{{kitContext.item.name}}</div>
            </div>
          </div>
          <div class="item-column item-melee-bonus">{{> kitDamageBonuses damage=kitContext.item.system.bonuses.melee.damage}}</div>
          <div class="item-column item-ranged-bonus">{{> kitDamageBonuses damage=kitContext.item.system.bonuses.ranged.damage}}</div>
          <div class="item-column item-controls">
            <a data-action="toggleItemEmbed">
              <i class="fa-solid fa-angle-{{ifThen kitContext.expanded "down" "right"}}"></i>
            </a>
          </div>
        </div>
        <div class="item-embed">
          {{#if kitContext.expanded}}{{{kitContext.embed.outerHTML}}}{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{! Equipments List}}
  {{#each equipment as |equipmentCategory|}}
  {{!-- Don't show the "Other" category if there's no other abilities --}}
  {{#if (or (ne @key "other") (and (eq @key "other") (gte equipmentCategory.equipment.length 1)))}}
  <section class="item-list-container equipment-list-container">
    <div class="item-header">
      <div class="item-column item-name">{{equipmentCategory.label}}</div>
      <div class="item-column item-echelon">{{@root.equipmentFields.echelon.label}}</div>
      <div class="item-column item-controls">
        {{#unless (eq @key "other")}}
        {{#with (localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.equipment")) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="equipment" data-render-sheet="true" data-system.category="{{@key}}" data-tooltip="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/unless}}
      </div>
    </div>
    <ol class="item-list2 equipment-list">
      {{#each equipmentCategory.equipment as |equipmentContext|}}
      <li class="item equipment draggable" data-item-id="{{equipmentContext.item.id}}" data-document-class="Item">
        <div class="item-row">
          <div class="item-column item-name">
            <img class="item-image" src="{{equipmentContext.item.img}}" alt="{{equipmentContext.item.name}}">
            <div class="name">
              <div class="label">{{equipmentContext.item.name}}</div>
            </div>
          </div>
          <div class="item-column item-echelon">{{localize (concat "DRAW_STEEL.Echelon." equipmentContext.item.system.echelon)}}</div>
          <div class="item-column item-controls">
            <a data-action="toggleItemEmbed">
              <i class="fa-solid fa-angle-{{ifThen equipmentContext.expanded "down" "right"}}"></i>
            </a>
          </div>
        </div>
        <div class="item-embed">
          {{#if abilityContext.expanded}}{{{abilityContext.embed.outerHTML}}}{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}
  {{/each}}
</section>
