{{! Sheet Header }}
<header class="sheet-header">
  {{! <!-- eslint-disable-next-line @html-eslint/attrs-newline --> }}
  <img
    class="profile-img"
    src="{{actor.img}}"
    alt="{{actor.name}}"
    data-edit="img"
    {{#if isPlay}}
    data-action="showPortraitArtwork"
    {{else}}
    {{! eslint-disable-next-line @html-eslint/no-duplicate-attrs }}
    data-action="editImage"
    {{/if}}
    title="{{actor.name}}"
    height="100"
    width="100"
  />
  <div class="header-center flexcol">
    <div class="document-name">
      {{#if isPlay}}
      <h2>{{actor.name}}</h2>
      {{else}}
      {{formInput
      fields.name
      value=actor._source.name
      placeholder=(localize "Name")
      }}
      {{/if}}
    </div>
    <div class="origins flexrow">
      <div class="ancestry">
        {{#if actor.system.ancestry}}
        <span data-document-class="Item" data-item-id="{{actor.system.ancestry.id}}">
          <a class="filled" data-action="viewDoc">
            {{actor.system.ancestry.name}}
          </a>
          {{#unless isPlay}}
          <a data-action="deleteDoc">
            <i class="fa-solid fa-trash-can"></i>
          </a>
          {{/unless}}
        </span>
        {{else}}
        <a class="unfilled" data-action="createDoc" data-document-class="Item" data-type="ancestry" data-render-sheet="true">
          {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.ancestry")}}
        </a>
        {{/if}}
      </div>
      <div class="culture">
        {{#if actor.system.culture}}
        <span data-document-class="Item" data-item-id="{{actor.system.culture.id}}">
          <a class="filled" data-action="viewDoc">
            {{actor.system.culture.name}}
          </a>
          {{#unless isPlay}}
          <a data-action="deleteDoc">
            <i class="fa-solid fa-trash-can"></i>
          </a>
          {{/unless}}
        </span>
        {{else}}
        <a class="unfilled" data-action="createDoc" data-document-class="Item" data-type="culture" data-render-sheet="true">
          {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.culture")}}
        </a>
        {{/if}}
      </div>
      <div class="career">
        {{#if actor.system.career}}
        <span data-document-class="Item" data-item-id="{{actor.system.career.id}}">
          <a class="filled" data-action="viewDoc">
            {{actor.system.career.name}}
          </a>
          {{#unless isPlay}}
          <a data-action="deleteDoc">
            <i class="fa-solid fa-trash-can"></i>
          </a>
          {{/unless}}
        </span>
        {{else}}
        <a class="unfilled" data-action="createDoc" data-document-class="Item" data-type="career" data-render-sheet="true">
          {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.career")}}
        </a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="header-right flexcol">
    {{> "systems/draw-steel/templates/parts/mode-toggle.hbs"}}
    <div class="class">
      {{#if actor.system.class}}
      <span class="click-element flexrow" data-document-class="Item" data-item-id="{{actor.system.class.id}}">
        <a class="flexrow" data-action="viewDoc">
          <img class="item-img" src="{{actor.system.class.img}}" alt="{{actor.system.class.name}}">
          <span class="label filled">
            {{actor.system.class.name}} {{actor.system.class.system.level}}
          </span>
        </a>
        {{#unless isPlay}}
        <a data-action="deleteDoc">
          <i class="fa-solid fa-trash-can"></i>
        </a>
        {{/unless}}
      </span>
      {{else}}
      <a class="click-element" data-action="createDoc" data-document-class="Item" data-type="class" data-render-sheet="true">
        <span class="label unfilled">
          {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.class")}}
        </span>
      </a>
      {{/if}}
    </div>
    <div class="victories">
      <label>{{systemFields.hero.fields.victories.label}}</label>
      {{#if isPlay}}
      <span class="resource-current">
        {{system.hero.victories}}
      </span>
      <span class="resource-divider"> / </span>
      <span class="resource-max">
        {{system.victoriesMax}}
      </span>
      {{else}}
      {{formInput
      systemFields.hero.fields.victories
      value=systemSource.hero.victories
      }}
      {{/if}}
    </div>
  </div>
</header>
