{{!-- Partial for header tags --}}
{{#*inline "headerTag"}}
{{#if originDoc}}
<span data-document-class="Item" data-item-id="{{lookup originDoc "id"}}">
  <a class="filled" data-action="viewDoc">
    {{lookup originDoc "name"}}
  </a>
  {{#unless isPlay}}
  <a data-action="deleteDoc">
    <i class="fa-solid fa-trash-can"></i>
  </a>
  {{/unless}}
</span>
{{else}}
<a class="unfilled" data-action="createDoc" data-document-class="Item" data-type="{{originType}}" data-render-sheet="true">
  {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize (concat "TYPES.Item." originType))}}
</a>
{{/if}}
{{/inline}}

{{! Sheet Header }}
<header class="sheet-header">
  {{! <!-- eslint-disable-next-line @html-eslint/attrs-newline --> }}
  <img
    class="profile-img"
    src="{{actor.img}}"
    alt="{{actor.name}}"
    data-action="{{ifThen isPlay "showPortraitArtwork" "editImage"}}"
    title="{{actor.name}}"
  >
  <div class="header-center flexcol">
    <div class="document-name">
      {{#if isPlay}}
      <h2>{{actor.name}}</h2>
      {{else}}
      {{formInput fields.name value=source.name placeholder=(localize "Name")}}
      {{/if}}
    </div>
    <div class="origins tags flexrow">
      <div class="ancestry tag">
        {{> headerTag originDoc=actor.system.ancestry originType="ancestry"}}
      </div>
      <div class="culture tag">
        {{> headerTag originDoc=actor.system.culture originType="culture"}}
      </div>
      <div class="career tag">
        {{> headerTag originDoc=actor.system.career originType="career"}}
      </div>
      <div class="class tag">
        {{> headerTag originDoc=actor.system.class originType="class"}}
      </div>
    </div>
  </div>
  <div class="header-right flexcol">
    {{> "systems/draw-steel/templates/parts/mode-toggle.hbs"}}

    <dl>
      <dt class="level">{{localize "DRAW_STEEL.Item.Class.FIELDS.level.label"}}</dt>
      <dd class="level">
        {{system.level}}
        {{#if (and (gte system.hero.xp system.nextLevelXP) system.class)}}
        <span class="level-up" data-tooltip="DRAW_STEEL.Sheet.LevelUp">
          <i class="fa-solid fa-up-long"></i>
        </span>
        {{/if}}
      </dd>

      {{#if isPlay}}
      <dt class="xp">{{systemFields.hero.fields.xp.label}}</dt>
      <dd class="xp">
        <span class="resource-curent">{{system.hero.xp}}</span>
        <span class="resource-divider"> / </span>
        <span class="resource-max">{{system.nextLevelXP}}</span>
      </dd>

      <dt>{{systemFields.hero.fields.victories.label}}</dt>
      <dd>
        <span class="resource-current">{{system.hero.victories}}</span>
        <span class="resource-divider"> / </span>
        <span class="resource-max">{{system.victoriesMax}}</span>
      </dd>
      {{/if}}
    </dl>
    {{#unless isPlay}}
    <div class="actor-data character-data">
      {{formGroup systemFields.hero.fields.xp value=systemSource.hero.xp classes="xp"}}
      {{formGroup systemFields.hero.fields.victories value=systemSource.hero.victories classes="victories"}}
    </div>
    {{/unless}}
    {{#if isPlay}}
    <div class="take-respite">
      <a data-action="takeRespite">
        <i class="fa-solid fa-bed"></i>
        {{localize "DRAW_STEEL.Sheet.TakeRespite"}}
      </a>
    </div>
    {{/if}}
  </div>
</header>
