{{!-- Partial for header tags --}}
{{#*inline "headerTag"}}
{{#if originDoc}}
<span data-document-class="Item" data-item-id="{{lookup originDoc "id"}}">
  <a class="filled" data-action="viewDoc">
    {{lookup originDoc "name"}}
  </a>
  {{#unless isPlay}}
  <a data-action="deleteDoc">
    <i class="fa-solid fa-trash-can"></i>
  </a>
  {{/unless}}
</span>
{{else}}
<a class="unfilled" data-action="createDoc" data-document-class="Item" data-type="{{originType}}" data-render-sheet="true">
  {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize (concat "TYPES.Item." originType))}}
</a>
{{/if}}
{{/inline}}

{{! Sheet Header }}
<header class="sheet-header">
  {{! <!-- eslint-disable-next-line @html-eslint/attrs-newline --> }}
  <img
    class="profile-img"
    src="{{actor.img}}"
    alt="{{actor.name}}"
    data-action="{{ifThen isPlay "showPortraitArtwork" "editImage"}}"
    title="{{actor.name}}"
  >
  <div class="header-center flexcol">
    <div class="document-name">
      {{#if isPlay}}
      <h2>{{wordBreaker actor.name}}</h2>
      {{else}}
      {{formInput fields.name value=source.name placeholder=(localize "Name")}}
      {{/if}}
    </div>
    <div class="origins tags flexrow">
      <div class="ancestry tag">
        {{> headerTag originDoc=actor.system.ancestry originType="ancestry"}}
      </div>
      <div class="culture tag">
        {{> headerTag originDoc=actor.system.culture originType="culture"}}
      </div>
      <div class="career tag">
        {{> headerTag originDoc=actor.system.career originType="career"}}
      </div>
      <div class="class tag">
        {{> headerTag originDoc=actor.system.class originType="class"}}
      </div>
    </div>
  </div>
  <div class="header-right flexcol">
    {{> "systems/draw-steel/templates/parts/mode-toggle.hbs"}}
    <div class="actor-data character-data">
      <div class="level">
        <label>{{localize "DRAW_STEEL.Item.Class.FIELDS.level.label"}}:</label>
        <span class="value">{{system.level}}</span>
        {{#if (and (gte system.hero.xp system.nextLevelXP) system.class)}}
        <span class="level-up" data-tooltip="Level Up Available">
          <i class="fa-solid fa-up-long"></i>
        </span>
        {{/if}}
      </div>
      <div class="xp">
        <label>{{systemFields.hero.fields.xp.label}}:</label>
        {{#if isPlay}}
        <span class="value">
          {{system.hero.xp}}
          <span class="resource-divider"> / </span>
          <span class="resource-max">{{system.nextLevelXP}}</span>
        </span>
        {{else}}
        {{formInput systemFields.hero.fields.xp value=systemSource.hero.xp}}
        {{/if}}
      </div>
      <div class="victories">
        <label>{{systemFields.hero.fields.victories.label}}:</label>
        {{#if isPlay}}
        <span class="value">
          <span class="resource-current">
            {{system.hero.victories}}
          </span>
          <span class="resource-divider"> / </span>
          <span class="resource-max">
            {{system.victoriesMax}}
          </span>
        </span>
        {{else}}
        {{formInput systemFields.hero.fields.victories value=systemSource.hero.victories}}
        {{/if}}
      </div>
    </div>
    {{#if isPlay}}
    <div class="take-respite">
      <a data-action="takeRespite">
        <i class="fa-solid fa-bed"></i>
        {{localize "DRAW_STEEL.Sheet.TakeRespite"}}
      </a>
    </div>
    {{/if}}
  </div>
</header>
