{{! Stats Tab }}
<section class="tab stats standard-form {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <fieldset class="resources flexrow">
    <legend>{{localize "DRAW_STEEL.Sheet.Resources"}}</legend>
    <div class="resource stamina">
      <label class="resource-label">
        {{systemFields.stamina.label}}
      </label>
      <div class="resource-content flexrow">
        {{#if isPlay}}
        <div class="resource-temporary">
          {{formGroup
          systemFields.stamina.fields.temporary
          value=system.stamina.temporary
          dataset=datasets.notSource
          classes="stacked"
          }}
        </div>
        <div class="resource-current">
          {{formGroup
          systemFields.stamina.fields.value
          value=system.stamina.value
          dataset=datasets.notSource
          classes="stacked"
          }}
        </div>
        {{/if}}
        <span class="resource-max">
          {{#if isPlay}}
          <div class="form-group stacked">
            <label class="input-placeholder-label">
              {{systemFields.stamina.fields.max.label}}
            </label>
            <div class="input-placeholder">
              {{system.stamina.max}}
            </div>
          </div>
          {{else}}
          {{formGroup systemFields.stamina.fields.max value=systemSource.stamina.max dataset=datasets.isSource classes="paired"}}
          {{/if}}
        </span>
      </div>
    </div>
    <div class="resource recoveries">
      <label class="resource-label">
        {{systemFields.hero.fields.recoveries.label}}
      </label>
      <div class="resource-content flexrow">
        {{#if isPlay}}
        <div class="resource-current">
          {{formGroup systemFields.hero.fields.recoveries.fields.value value=system.hero.recoveries.value dataset=datasets.notSource classes="stacked"}}
        </div>
        {{/if}}
        <span class="resource-max">
          {{#if isPlay}}
          <div class="form-group stacked">
            <label class="input-placeholder-label">
              {{systemFields.hero.fields.recoveries.fields.max.label}}
            </label>
            <div class="input-placeholder">
              {{system.hero.recoveries.max}}
            </div>
          </div>
          {{else}}
          {{formGroup systemFields.hero.fields.recoveries.fields.max value=systemSource.hero.recoveries.max dataset=datasets.isSource classes="paired"}}
          {{/if}}
        </span>
        {{#if isPlay}}
        <span class="recovery-value">
          <div class="form-group stacked">
            <label class="input-placeholder-label">
              {{localize "DRAW_STEEL.Actor.base.FIELDS.stamina.label"}}
            </label>
            <div class="input-placeholder">
              {{system.hero.recoveries.recoveryValue}}
            </div>
          </div>
        </span>
        {{/if}}
      </div>
    </div>
    {{#if isPlay}}
    <div class="resource heroic">
      {{#if system.class}}
      {{formGroup systemFields.hero.fields.primary.fields.value value=system.hero.primary.value dataset=datasets.notSource label=system.hero.primary.label}}
      {{/if}}
      <div class="form-group">
        <label>
          <a data-action="gainSurges">{{systemFields.hero.fields.surges.label}}</a>
        </label>
        <div class="form-fields">
          {{formInput systemFields.hero.fields.surges value=system.hero.surges dataset=datasets.notSource}}
        </div>
      </div>
    </div>
    {{/if}}
  </fieldset>
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/characteristics.hbs"}}
  {{#if isPlay}}
  <div class="flexrow">
    {{> "systems/draw-steel/templates/actor/shared/partials/stats/combat.hbs"}}
    {{> "systems/draw-steel/templates/actor/shared/partials/stats/movement.hbs"}}
  </div>
  {{else}}
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/combat.hbs"}}
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/movement.hbs"}}
  {{/if}}
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/immunities-weaknesses.hbs"}}
  <fieldset class="skills flexrow">
    <legend>{{systemFields.hero.fields.skills.label}}</legend>
    {{#if isPlay}}
    {{skills}}
    {{else}}
    {{formInput systemFields.hero.fields.skills value=systemSource.hero.skills options=config.skills.optgroups dataset=datasets.isSource}}
    {{/if}}
  </fieldset>
</section>
