<fieldset class="characteristics flexrow">
  <legend>{{systemFields.characteristics.label}}</legend>
  {{#each characteristics as |chr key|}}
  {{#if @root.isPlay}}
  <a class="characteristic play" data-action="roll" data-roll-type="characteristic" data-characteristic="{{key}}" data-tooltip="{{localize "DRAW_STEEL.Roll.Prompt" prompt=chr.field.hint}}">
    {{chr.field.label}} {{numberFormat chr.value sign=true}}
  </a>
  {{else}}
  <label class="characteristic edit" data-tooltip="{{chr.field.label}}">
    <span class="label">{{chr.field.hint}}</span>
    <input type="text" name="system.characteristics.{{key}}.value" value="{{numberFormat chr.value sign=true}}" data-dtype="Number" data-source="true">
  </label>
  {{/if}}
  {{/each}}
</fieldset>
