<section class="metadata">
  {{#if system.resource}}
  <p class="resource">
    {{localize "DRAW_STEEL.Item.Ability.ResourceCost" value=system.resource name=resourceName}}
  </p>
  {{/if}}
  {{#if system.description.flavor}}
  <p class="flavor">
    <em>{{system.description.flavor}}</em>
  </p>
  {{/if}}
  <div class="info-row usage">
    <p class="keywords">
      <strong>{{systemFields.keywords.label}}:</strong> {{keywordList}}
    </p>
    <p class="type">
      <strong>{{systemFields.type.label}}:</strong> {{lookup (lookup config.abilities.types system.type) "label"}}
    </p>
  </div>
  <div class="info-row targeting">
    <p class="distance">
      <strong>{{systemFields.distance.label}}:</strong> {{distanceLabel}}
    </p>
    <p class="target">
      <strong>{{systemFields.target.label}}:</strong> {{targetLabel}}
    </p>
  </div>
</section>
{{#if (or tier1 tier2 tier3)}}
<section class="powerResult">
  {{#if tier1}}
  <p>
    <strong>{{localize "DRAW_STEEL.Roll.Power.Results.Tier1"}}:</strong> {{{descriptions.tier1}}}
  </p>
  {{/if}}
  {{#if tier2}}
  <p>
    <strong>{{localize "DRAW_STEEL.Roll.Power.Results.Tier2"}}:</strong> {{{descriptions.tier2}}}
  </p>
  {{/if}}
  {{#if tier3}}
  <p>
    <strong>{{localize "DRAW_STEEL.Roll.Power.Results.Tier3"}}:</strong> {{{descriptions.tier3}}}
  </p>
  {{/if}}
</section>
{{/if}}
{{#if system.effect}}
<section class="effect">
  <p>
    <strong>{{systemFields.effect.label}}</strong> {{system.effect}}
  </p>
</section>
{{/if}}
