<section class="metadata">
  {{#if system.resource}}
  <p class="resource">
    {{localize "DRAW_STEEL.Item.Ability.ResourceCost" value=system.resource name=resourceName}}
  </p>
  {{/if}}
  {{#if system.description.flavor}}
  <p class="flavor">
    <em>{{system.description.flavor}}</em>
  </p>
  {{/if}}
  <dl>
    <dt class="keywords">{{systemFields.keywords.label}}</dt>
    <dd class="keywords">{{keywordList}}</dd>

    <dt class="type">{{systemFields.type.label}}</dt>
    <dd class="type">{{lookup (lookup config.abilities.types system.type) "label"}}</dd>

    <dt class="distance">{{systemFields.distance.label}}</dt>
    <dd class="distance">{{distanceLabel}}</dd>

    <dt class="target">{{systemFields.target.label}}</dt>
    <dd class="target">{{targetLabel}}</dd>

    {{#if triggeredAction}}
    <dt class="trigger">{{systemFields.trigger.label}}</dt>
    <dd class="trigger">{{system.trigger}}</dd>
    {{/if}}
  </dl>
</section>
{{#if powerRolls}}
<section class="powerResult">
  <p>
    <strong>{{{localize "DRAW_STEEL.Roll.Power.RollPlusBonus" bonus=powerRollBonus}}}</strong>
  </p>
  <dl class="power-roll-display">
    <dt class="tier1">{{localize "DRAW_STEEL.Roll.Power.Results.Tier1"}}</dt>
    <dd class="tier1">{{powerRollEffects.tier1.text}}</dd>

    <dt class="tier2">{{localize "DRAW_STEEL.Roll.Power.Results.Tier2"}}</dt>
    <dd class="tier2">{{powerRollEffects.tier2.text}}</dd>

    <dt class="tier3">{{localize "DRAW_STEEL.Roll.Power.Results.Tier3"}}</dt>
    <dd class="tier3">{{powerRollEffects.tier3.text}}</dd>

    {{#if system.effect}}
    <dt class="effect">{{systemFields.effect.label}}</dt>
    <dd class="effect">{{{system.effect}}}</dd>
    {{/if}}
  </dl>
</section>
{{/if}}
