<section class="metadata">
  {{#if system.description.flavor}}
  <p class="flavor"><em>{{system.description.flavor}}</em></p>
  {{/if}}
  <span class="keywords"><strong>{{systemFields.keywords.label}}:</strong> {{keywordList}}</span>
  <span class="type"><strong>{{systemFields.type.label}}:</strong> {{lookup (lookup config.abilities.types system.type) "label"}}</span>
  <span class="distance"><strong>{{systemFields.distance.label}}:</strong> {{distanceLabel}}</span>
  <span class="target"><strong>{{systemFields.target.label}}:</strong> {{targetLabel}}</span>
</section>
<section class="effect">
  <p><strong>{{systemFields.effect.label}}</strong> {{system.effect}}</p>
</section>
{{!-- Power Tiers --}}
