{{#*inline "potency"}}
{{formGroup field.enabled name=(concat "system.powerRoll." tier "." index ".potency.enabled") value=potency.enabled localize=true}}
{{#if potency.enabled}}
{{formGroup field.characteristic name=(concat "system.powerRoll." tier "." index ".potency.characteristic") value=effect.potency.characteristic options=@root.characteristics localize=true}}
{{formGroup field.value name=(concat "system.powerRoll." tier "." index ".potency.value") value=potency.value placeholder=field.value.initial localize=true}}
{{/if}}
{{/inline}}

{{#*inline "powerRoll"}}
<fieldset>
  <legend>{{field.label}}</legend>
  <span class="add-tier-effect" data-tier="{{field.name}}">Add Effect</span>
  {{#each value as |effect|}}
  <div class="power-roll-effect">
    <span class="delete-tier-effect" data-tier="{{../field.name}}" data-index="{{@index}}">Delete Effect</span>
    {{!-- effectFields will be equal to the fields under that effect type --}}
    {{#with (lookup (lookup ../field.element.types effect.type) "fields") as |effectFields|}}
    {{!-- The type selection will be shown on all effect types --}}
    {{formGroup effectFields.type name=(concat "system.powerRoll." ../../field.name "." @index ".type") value=effect.type localize=true options=@root.powerRollEffectOptions}}
    {{#if (eq effect.type "damage")}}
    {{formGroup effectFields.types name=(concat "system.powerRoll." ../../field.name "." @index ".types") value=effect.types options=@root.damageTypes blank="" localize=true}}
    {{formGroup effectFields.value name=(concat "system.powerRoll." ../../field.name "." @index ".value") value=effect.value localize=true}}
    {{> potency field=effectFields.potency.fields value=effect.potency tier=../../field.name index=@index potency=effect.potency}}
    {{else if (eq effect.type "ae")}}
    {{> potency field=effectFields.potency.fields value=effect.potency tier=../../field.name index=@index potency=effect.potency}}
    {{#if effect.potency.enabled}}
    {{formGroup effectFields.success name=(concat "system.powerRoll." ../../field.name "." @index ".success") value=effect.success options=@root.appliedEffects localize=true}}
    {{formGroup effectFields.failure name=(concat "system.powerRoll." ../../field.name "." @index ".failure") value=effect.failure options=@root.appliedEffects localize=true}}
    {{else}}
    {{formGroup effectFields.always name=(concat "system.powerRoll." ../../field.name "." @index ".always") value=effect.always options=@root.appliedEffects localize=true}}
    {{/if}}
    {{else if (eq effect.type "forced")}}
    {{formGroup effectFields.types name=(concat "system.powerRoll." ../../field.name "." @index ".types") value=effect.types localize=true}}
    {{formGroup effectFields.value name=(concat "system.powerRoll." ../../field.name "." @index ".value") value=effect.value localize=true}}
    {{> potency field=effectFields.potency.fields value=effect.potency tier=../../field.name index=@index potency=effect.potency}}
    {{/if}}
    {{!-- The display field will be shown on all effect types --}}
    {{formGroup effectFields.display name=(concat "system.powerRoll." ../../field.name "." @index ".display") value=effect.display localize=true}}
    {{/with}}
  </div>
  {{/each}}
  {{!-- {{formGroup field.fields.description value=value.description}} --}}
  {{!-- TODO: Forced Movement --}}
</fieldset>
{{/inline}}
{{#if isPlay}}
{{> "systems/draw-steel/templates/item/embeds/ability.hbs" tier1="true" tier2="true" tier3="true"}}
{{else}}
{{formGroup systemFields.description.fields.flavor value=system.description.flavor}}
{{formGroup systemFields.keywords value=system.keywords options=config.abilities.keywords.optgroups}}
{{formGroup systemFields.type value=system.type options=actionTypes}}
{{formGroup systemFields.category value=system.category options=abilityCategories blank=""}}
{{formGroup systemFields.resource value=system.resource}}
{{#if triggeredAction}}
{{formGroup systemFields.trigger value=system.trigger}}
{{/if}}
<fieldset>
  <legend>{{systemFields.distance.label}}</legend>
  {{formGroup systemFields.distance.fields.type value=system.distance.type options=distanceTypes}}
  {{#if primaryDistance}}
  {{formGroup systemFields.distance.fields.primary value=system.distance.primary label=primaryDistance}}
  {{/if}}
  {{#if secondaryDistance}}
  {{formGroup systemFields.distance.fields.secondary value=system.distance.secondary label=secondaryDistance}}
  {{/if}}
  {{#if tertiaryDistance}}
  {{formGroup systemFields.distance.fields.tertiary value=system.distance.tertiary label=tertiaryDistance}}
  {{/if}}
</fieldset>
{{#if showDamageDisplay}}
{{formGroup systemFields.damageDisplay value=system.damageDisplay localize=true}}
{{/if}}
<fieldset>
  <legend>{{systemFields.target.label}}</legend>
  {{formGroup systemFields.target.fields.type value=system.target.type options=targetTypes}}
  {{#if (ne system.target.type "self")}}
  {{formGroup systemFields.target.fields.value value=system.target.value placeholder=(localize "DRAW_STEEL.Item.Ability.Target.All")}}
  {{/if}}
</fieldset>
{{formGroup systemFields.powerRoll.fields.enabled value=system.powerRoll.enabled}}
{{#if system.powerRoll.enabled}}
{{formGroup systemFields.powerRoll.fields.characteristics value=system.powerRoll.characteristics options=characteristics}}
{{formGroup systemFields.powerRoll.fields.formula value=system.powerRoll.formula placeholder=systemFields.powerRoll.fields.formula.initial}}
{{formGroup systemFields.powerRoll.fields.potencyCharacteristic value=system.powerRoll.potencyCharacteristic options=characteristics blank=""}}
{{> powerRoll field=systemFields.powerRoll.fields.tier1 value=system.powerRoll.tier1}}
{{> powerRoll field=systemFields.powerRoll.fields.tier2 value=system.powerRoll.tier2}}
{{> powerRoll field=systemFields.powerRoll.fields.tier3 value=system.powerRoll.tier3}}
{{/if}}
<fieldset>
  <legend>{{systemFields.spend.label}}</legend>
  {{formGroup systemFields.spend.fields.value value=system.spend.value}}
  {{formGroup systemFields.spend.fields.text value=system.spend.text}}
</fieldset>
{{formGroup systemFields.effect value=system.effect}}
{{/if}}
