{{#if (and showDescription enrichedDescription)}}
<section class="description">
  {{{enrichedDescription}}}
</section>
{{/if}}
<section class="equipment">
  <h6>{{systemFields.equipment.label}}</h6>
  <dl>
    <dt class="armor">{{systemFields.equipment.fields.armor.label}}</dt>
    <dd class="armor">{{localize (lookup (lookup config.equipment.armor system.equipment.armor) "label")}}</dd>

    <dt class="equipment">{{systemFields.equipment.fields.weapon.label}}</dt>
    <dd class="equipment">{{weaponLabel}}</dd>

    <dt class="shield">{{systemFields.equipment.fields.shield.label}}</dt>
    <dd class="shield">{{localize (ifThen system.equipment.shield "Yes" "No")}}</dd>
  </dl>
</section>
<section class="bonuses">
  <h6>{{systemFields.bonuses.label}}</h6>
  <dl>
    {{#if system.bonuses.stamina}}
    <dt class="stamina-bonus">{{systemFields.bonuses.fields.stamina.label}}</dt>
    <dd class="stamina-bonus">{{localize "DRAW_STEEL.Item.kit.StaminaEmbed" number=(numberFormat system.bonuses.stamina sign=true)}}</dd>
    {{/if}}

    {{#if system.bonuses.speed}}
    <dt class="speed-bonus">{{systemFields.bonuses.fields.speed.label}}</dt>
    <dd class="speed-bonus">{{numberFormat system.bonuses.speed sign=true}}</dd>
    {{/if}}

    {{#if system.bonuses.stability}}
    <dt class="stability-bonus">{{systemFields.bonuses.fields.stability.label}}</dt>
    <dd class="stability-bonus">{{numberFormat system.bonuses.stability sign=true}}</dd>
    {{/if}}

    {{#with system.bonuses.melee.damage as |damage|}}
    {{#if (or damage.tier1 damage.tier2 damage.tier3)}}
    <dt class="melee-damage-bonus">{{@root.systemFields.bonuses.fields.melee.fields.damage.label}}</dt>
    <dd class="melee-damage-bonus">{{numberFormat damage.tier1 sign=true}} / {{numberFormat damage.tier2 sign=true}} / {{numberFormat damage.tier3 sign=true}}</dd>
    {{/if}}
    {{/with}}

    {{#with system.bonuses.ranged.damage as |damage|}}
    {{#if (or damage.tier1 damage.tier2 damage.tier3)}}
    <dt class="ranged-damage-bonus">{{@root.systemFields.bonuses.fields.ranged.fields.damage.label}}</dt>
    <dd class="ranged-damage-bonus">{{numberFormat damage.tier1 sign=true}} / {{numberFormat damage.tier2 sign=true}} / {{numberFormat damage.tier3 sign=true}}</dd>
    {{/if}}
    {{/with}}

    {{#if system.bonuses.melee.distance}}
    <dt class="melee-distance-bonus">{{systemFields.bonuses.fields.melee.fields.distance.label}}</dt>
    <dd class="melee-distance-bonus">{{numberFormat system.bonuses.melee.distance sign=true}}</dd>
    {{/if}}

    {{#if system.bonuses.ranged.distance}}
    <dt class="ranged-distance-bonus">{{systemFields.bonuses.fields.ranged.fields.distance.label}}</dt>
    <dd class="ranged-distance-bonus">{{numberFormat system.bonuses.ranged.distance sign=true}}</dd>
    {{/if}}

    {{#if system.bonuses.disengage}}
    <dt class="disengage-bonus">{{systemFields.bonuses.fields.disengage.label}}</dt>
    <dd class="disengage-bonus">{{numberFormat system.bonuses.disengage sign=true}}</dd>
    {{/if}}
  </dl>
</section>
{{!-- TODO: Display signature item embed or link when kits provide signature abilities --}}
{{!-- <section class="signature"></section> --}}
