{{#*inline "kitDamageBonuses"}}
{{#if (or damage.tier1 damage.tier2 damage.tier3)}}
{{numberFormat damage.tier1 sign=true}} / {{numberFormat damage.tier2 sign=true}} / {{numberFormat damage.tier3 sign=true}}
{{/if}}
{{/inline}}

{{! Equipment Tab }}
<section class="tab equipment {{tab.cssClass}}" data-group="primary" data-tab="equipment">
  {{! Kits List}}
  {{#if (or system.class.system.kits kits.length)}}
  <section class="item-list-container kit-list-container">
    <div class="item-header">
      <div class="item-column item-name">{{localize "TYPES.Item.kit"}}</div>
      <div class="item-column item-melee-bonus">{{kitFields.bonuses.fields.melee.fields.damage.label}}</div>
      <div class="item-column item-ranged-bonus">{{kitFields.bonuses.fields.ranged.fields.damage.label}}</div>
      <div class="item-column item-controls">
        {{#unless isPlay}}
        {{#with (localize "DRAW_STEEL.SHEET.Add" itemName=(localize "TYPES.Item.kit")) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="kit" data-render-sheet="true" data-tooltip-text="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/unless}}
      </div>
    </div>
    <ol class="item-list kit-list">
      {{#each kits as |kitContext|}}
      <li class="item feature draggable expandable-document" data-document-uuid="{{kitContext.item.uuid}}">
        <div class="item-row">
          <div class="item-column item-name">
            <img class="item-image" src="{{kitContext.item.img}}" alt="{{kitContext.item.name}}">
            {{#if (eq @root.system.hero.preferredKit kitContext.item.id)}}
            <i data-tooltip="DRAW_STEEL.Item.kit.PreferredKit.Label" class="fa-solid fa-star"></i>
            {{/if}}
            <div class="name">
              <div class="label">{{kitContext.item.name}}</div>
            </div>
          </div>
          <div class="item-column item-melee-bonus">{{> kitDamageBonuses damage=kitContext.item.system.bonuses.melee.damage}}</div>
          <div class="item-column item-ranged-bonus">{{> kitDamageBonuses damage=kitContext.item.system.bonuses.ranged.damage}}</div>
          <div class="item-column item-controls">
            <a class="fa-solid fa-angle-{{ifThen kitContext.expanded "down" "right"}}" data-action="toggleDocumentDescription"></a>
          </div>
        </div>
        <div class="document-description item-embed {{#if kitContext.expanded}}expanded{{/if}}">
          {{#if kitContext.expanded}}{{{kitContext.embed.outerHTML}}}{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{! Treasures List}}
  {{#each treasure as |treasureType|}}
  {{!-- Don't show the "Other" category if there's no other treasures --}}
  {{#if treasureType.showHeader}}
  <section class="item-list-container treasure-list-container">
    <div class="item-header">
      <div class="item-column item-name">{{treasureType.label}}</div>
      <div class="item-column item-echelon">{{@root.treasureFields.echelon.label}}</div>
      <div class="item-column item-quantity">{{@root.treasureFields.quantity.label}}</div>
      <div class="item-column item-controls">
        {{#if treasureType.showAdd}}
        {{#with (localize "DRAW_STEEL.SHEET.Add" itemName=(localize "TYPES.Item.treasure")) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="treasure" data-render-sheet="true" data-system.category="{{@key}}" data-tooltip-text="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/if}}
      </div>
    </div>
    <ol class="item-list treasure-list">
      {{#each treasureType.treasure as |treasureContext|}}
      <li class="item treasure draggable expandable-document" data-document-uuid="{{treasureContext.item.uuid}}">
        <div class="item-row">
          <div class="item-column item-name">
            <img class="item-image" src="{{treasureContext.item.img}}" alt="{{treasureContext.item.name}}">
            <div class="name">
              <div class="label">{{treasureContext.item.name}}</div>
            </div>
          </div>
          <div class="item-column item-echelon">{{localize (concat "DRAW_STEEL.ECHELON." treasureContext.item.system.echelon)}}</div>
          <div class="item-column item-quantity quantity-controls">
            <a data-action="modifyItemQuantity" data-quantity-modification="decrease">
              <i class="fa-regular fa-minus"></i>
            </a>
            <span class="quantity">{{treasureContext.item.system.quantity}}</span>
            <a data-action="modifyItemQuantity" data-quantity-modification="increase">
              <i class="fa-regular fa-plus"></i>
            </a>
          </div>
          <div class="item-column item-controls">
            <a class="fa-solid fa-angle-{{ifThen treasureContext.expanded "down" "right"}}" data-action="toggleDocumentDescription"></a>
          </div>
        </div>
        <div class="document-description item-embed {{#if treasureContext.expanded}}expanded{{/if}}">
          {{#if treasureContext.expanded}}{{{treasureContext.embed.outerHTML}}}{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}
  {{/each}}
</section>
