<section class="tab features {{tab.cssClass}}" data-group="primary" data-tab="features">
  {{#if complications.showHeader}}
  <section class="item-list-container complications-list-container">
    <div class="item-header">
      <div class="item-column item-name">{{complications.label}}</div>
      <div class="item-column item-controls">
        {{#if complications.showAdd}}
        {{#with (localize "DRAW_STEEL.SHEET.Add" itemName=complications.label) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="complication" data-render-sheet="true" data-tooltip-text="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/if}}
      </div>
    </div>
    <ol class="item-list complications-list">
      {{#each complications.complications as |complicationContext|}}
      <li class="item complication draggable expandable-document" data-document-uuid="{{complicationContext.item.uuid}}">
        <div class="item-row">
          <div class="item-column item-name">
            <img class="item-image" src="{{complicationContext.item.img}}" alt="{{complicationContext.item.name}}">
            <div class="name">
              <div class="label">{{complicationContext.item.name}}</div>
            </div>
          </div>
          <div class="item-column item-controls">
            <a class="fa-fw fa-solid fa-ellipsis-vertical" data-action="documentListContext"></a>
            <a class="fa-solid fa-angle-{{ifThen complicationContext.expanded "down" "right"}}" data-action="toggleDocumentDescription"></a>
          </div>
        </div>
        <div class="document-description item-embed {{#if complicationContext.expanded}}expanded{{/if}}">
          {{#if complicationContext.expanded}}{{{complicationContext.embed.outerHTML}}}{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/features/features.hbs"}}
</section>
