{{!-- <!-- eslint-disable @html-eslint/require-closing-tags --> --}}
{{!-- <!-- eslint-disable @html-eslint/indent --> --}}
<section>
  {{#if title.show}}
  <header class="journal-page-header">
    <h{{ title.level }}>
      {{ name }}
</h{{ title.level }}>
</header>
  {{/if}}

  {{#if system.languages}}
  <h3>{{systemFields.languages.label}}</h3>
  {{/if}}
  <ul>
    {{#each system.languages}}
    <li>{{label}}</li>
    {{/each}}
  </ul>
  {{#if system.monsterKeywords}}
  <h3>{{systemFields.monsterKeywords.label}}</h3>
  {{/if}}
  <ul>
    {{#each system.monsterKeywords}}
    <li>{{label}}</li>
    {{/each}}
  </ul>
</section>
