<section class="standard-form tab {{tabs.languages.cssClass}}" data-tab="languages" data-group="primary">
  {{#unless document.pack}}
  <div class="notification warning">{{localize "DRAW_STEEL.JournalEntryPage.configuration.noPack"}}</div>
  {{/unless}}
  <div class="form-group">
    <button type="button" data-action="addEntry" data-path="languages">
      <i class="fa-solid fa-plus" inert></i>
      {{localize "DRAW_STEEL.JournalEntryPage.configuration.addEntry.language"}}
    </button>
  </div>
  <div class="scrollable">
    {{#each languages}}
    <fieldset>
      <legend>
        <button type="button" data-action="removeEntry" data-path="languages" data-index="{{@index}}">
          <i class="fa-solid fa-trash" inert></i>
          {{localize "DRAW_STEEL.JournalEntryPage.configuration.removeEntry.language"}}
        </button>
      </legend>
      {{#if warnDuplicateKey}}
      <div class="notification warning">{{localize "DRAW_STEEL.JournalEntryPage.configuration.duplicateEntry"}}</div>
      {{/if}}
      <div class="form-group">
        <div class="form-group" data-tooltip-text="{{fields.label.hint}}">
          <label>{{fields.label.label}}</label>
          <div class="form-fields">
            {{formInput fields.label value=values.label name=names.label}}
          </div>
        </div>
        <div class="form-group" data-tooltip-text="{{fields.key.hint}}">
          <label>{{fields.key.label}}</label>
          <div class="form-fields">
            {{formInput fields.key value=values.key name=names.key placeholder=keyPlaceholder}}
          </div>
        </div>
      </div>
    </fieldset>
    {{/each}}
  </div>
</section>
