<div>
  <div class="global group">
    <div class="header">Global Modifiers</div>
    <div class="modifiers general">
      <label>
        <span>{{localize "DRAW_STEEL.Roll.Power.Modifier.Edges"}}</span>
        <select name="modifiers.edges" data-dtype="Number">
          {{selectOptions modChoices selected=modifiers.edges}}
        </select>
      </label>
      <label>
        <span>{{localize "DRAW_STEEL.Roll.Power.Modifier.Banes"}}</span>
        <select name="modifiers.banes" data-dtype="Number">
          {{selectOptions modChoices selected=modifiers.banes}}
        </select>
      </label>
    </div>
  </div>
  
  {{#each targets as |target|}}
  <div class="target group">
    <div class="header">{{target.actor.name}}</div>
    <div class="modifiers">
      <label>
        <span>{{localize "DRAW_STEEL.Roll.Power.Modifier.Edges"}}</span>
        <select name="targets.{{@index}}.modifiers.edges" data-dtype="Number">
          {{selectOptions @root.modChoices selected=target.modifiers.edges}}
        </select>
        <span class="total-edges">Total: {{target.combinedModifiers.edges}}</span>
      </label>
      <label>
        <span>{{localize "DRAW_STEEL.Roll.Power.Modifier.Banes"}}</span>
        <select name="targets.{{@index}}.modifiers.banes" data-dtype="Number">
          {{selectOptions @root.modChoices selected=target.modifiers.banes}}
        </select>
        <span class="total-banes">Total: {{target.combinedModifiers.banes}}</span>
      </label>
    </div>
    
  </div>
  {{/each}}
  {{#if skills}}
  <label>
    <span>{{localize "DRAW_STEEL.Actor.Character.FIELDS.hero.skills.label"}}</span>
    <select name="skills">
      {{selectOptions skills blank=(localize "None")}}
    </select>
  </label>
  {{/if}}
  <button data-action="roll">Roll</button>
</div>
