{{#unless baseRoll}}
<div class="dice-roll" data-action="expandRoll">
  {{#if target}}
  <div class="header" data-uuid="{{target.uuid}}">
    {{target.name}}
  </div>
  {{/if}}

  <div class="tier {{tier.class}}">
    {{tier.label}}
    {{#if modifier.number}}
    <em>({{localize "DRAW_STEEL.Roll.Power.Modifier.Label" number=modifier.number mod=modifier.mod}})</em>
    {{/if}}
  </div>
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <div class="inline-result">
      <div class="dice-formula">{{formula}}</div>
      <div class="dice-total {{critical}}">{{total}}</div>
    </div>
    {{{tooltip}}}
  </div>

</div>
{{/unless}}
