<div class="dice-roll" data-action="expandRoll">
  <div class="modifier">
    {{#if critical}}
    {{localize "DRAW_STEEL.ROLL.Project.Breakthrough"}}
    {{/if}}
    {{#if (and critical modifier.number)}}<br>{{/if}}
    {{#if modifier.number}}
    <em>({{localize "DRAW_STEEL.ROLL.Power.Modifier.Label" number=modifier.number mod=modifier.mod}})</em>
    {{/if}}
  </div>
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    {{{tooltip}}}
    <h4 class="dice-total {{critical}}">{{total}}</h4>
  </div>
</div>
