{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      {{formInput
        fields.name
        value=actor.name
        placeholder=(localize 'Name')
      }}
    </div>
    <div class="flexrow">
      {{#if (eq actor.type "character")}}
        <div class="ancestry">
        {{#if actor.system.ancestry}}
          <a data-action="viewDoc" data-document-class="Item" data-item-id="{{actor.system.ancestry.id}}" >
            {{actor.system.ancestry.name}}
          </a>
        {{else}}
          <a data-action="createDoc" data-document-class="Item" data-type="ancestry" data-render-sheet="true">
            {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.ancestry")}}
          </a>
        {{/if}}
        </div>
        <div class="culture">
        {{#if actor.system.culture}}
          <a data-action="viewDoc" data-document-class="Item" data-item-id="{{actor.system.culture.id}}" >
            {{actor.system.culture.name}}
          </a>
        {{else}}
          <a data-action="createDoc" data-document-class="Item" data-type="culture" data-render-sheet="true">
            {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.culture")}}
          </a>
        {{/if}}
        </div>
        <div class="career">
        {{#if actor.system.career}}
          <a data-action="viewDoc" data-document-class="Item" data-item-id="{{actor.system.career.id}}" >
            {{actor.system.career.name}}
          </a>
        {{else}}
          <a data-action="createDoc" data-document-class="Item" data-type="career" data-render-sheet="true">
            {{localize "DRAW_STEEL.Sheet.Add" itemName=(localize "TYPES.Item.career")}}
          </a>
        {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="flexcol">
    <div class="flexrow">
      <span>{{localize "DRAW_STEEL.Sheet.Play"}}</span>
      <a data-action="toggleMode">
        {{#if isPlay}}
          Play
        {{else}}
          Edit
        {{/if}}
      </a>
      <span>{{localize "DRAW_STEEL.Sheet.Edit"}}</span>
    </div>
    {{#if (eq actor.type "character")}}
      <div class="class">
      {{#if actor.system.class}}
        <a data-action="viewDoc" data-document-class="Item" data-item-id="{{actor.system.class.id}}" >
          {{actor.system.class.name}} {{actor.system.class.system.level}}
        </a>
      {{else}}
        <a data-action="createDoc" data-document-class="Item" data-type="class" data-render-sheet="true">
          {{localize "DRAW_STEEL.Add" itemName=(localize "TYPES.Item.class")}}
        </a>
      {{/if}}
      </div>
    {{/if}}
  </div>
</header>
