{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      {{formInput
        fields.name
        value=actor.name
        placeholder=(localize 'Name')
      }}
    </div>
    <div class='resources grid grid-3col'>
      <div class='resource flex-group-center'>
        <label class='resource-label'>
          {{localize systemFields.stamina.label}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          {{formInput
            systemFields.stamina.fields.value
            value=system.stamina.value
          }}
          <span> / </span>
          {{formInput
            systemFields.stamina.fields.max
            value=system.stamina.max
          }}
        </div>
      </div>
      {{#if (eq actor.type "character")}}
      <div class='resource flex-group-center'>
        <label class='resource-label'>
          {{localize systemFields.hero.fields.recoveries.label}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          {{formInput
            systemFields.hero.fields.recoveries.fields.value
            value=system.hero.recoveries.value
          }}
          <span> / </span>
          {{formInput
            systemFields.hero.fields.recoveries.fields.max
            value=system.hero.recoveries.max
          }}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</header>
