{{! Stats Tab }}
<section class='tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>
<fieldset class="flexrow">
    <legend>Resources</legend>
    <div class='resource flex-group-center'>
      <label class='resource-label'>
        {{localize systemFields.stamina.label}}
      </label>
      <div class='resource-content flexrow flex-center flex-between'>
        {{formInput
          systemFields.stamina.fields.value
          value=system.stamina.value
        }}
        <span> / </span>
        {{formInput
          systemFields.stamina.fields.max
          value=system.stamina.max
        }}
      </div>
    </div>
    {{#if (eq actor.type "character")}}
    <div class='resource flex-group-center'>
      <label class='resource-label'>
        {{localize systemFields.hero.fields.recoveries.label}}
      </label>
      <div class='resource-content flexrow flex-center flex-between'>
        {{formInput
          systemFields.hero.fields.recoveries.fields.value
          value=system.hero.recoveries.value
        }}
        <span> / </span>
        {{formInput
          systemFields.hero.fields.recoveries.fields.max
          value=system.hero.recoveries.max
        }}
      </div>
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">

      </label>
      <div class='resource-content flexrow flex-center flex-between'>
        {{formInput
          systemFields.hero.fields.resourceOne.fields.value
          value=system.hero.fields.resourceOne.value
        }}
        {{#if system.hero.fields.resourceTwo.value}}
          {{formInput
            systemFields.hero.fields.resourceTwo.fields.value
            value=system.hero.fields.resourceTwo.value
          }}
        {{/if}}
      </div>
    </div>
    {{/if}}
</fieldset>
<fieldset class="flexrow">
  <legend>{{localize systemFields.characteristics.label}}</legend>
  {{#each characteristics as |chr key|}}
    <label class="flexcol">
      <a
        data-action="roll"
        data-roll-type="characteristic"
        data-characteristic="{{key}}"
        data-tooltip="{{localize "DRAW_STEEL.Roll.Prompt" prompt=(localize chr.field.hint)}}"
      >
        {{localize chr.field.label}}
      </a>
      <input type="text" data-dtype="Number" name="system.characteristics.{{key}}.value" value={{numberFormat chr.value sign=true}}>
    </label>
  {{/each}}
</fieldset>
<div class="flexrow">
  <fieldset>
    <legend>{{localize systemFields.combat.label}}</legend>
    {{formGroup systemFields.combat.fields.size value=system.stats.size}}
    {{formGroup systemFields.combat.fields.weight value=system.stats.weight}}
    {{formGroup systemFields.combat.fields.reach value=system.stats.reach}}
    {{formGroup systemFields.combat.fields.stability value=system.stats.stability}}
  </fieldset>
  <fieldset>
    <legend>{{localize systemFields.movement.label}}</legend>
    {{formGroup systemFields.movement.fields.walk value=system.movement.walk}}
    {{formGroup systemFields.movement.fields.burrow value=system.movement.burrow}}
    {{formGroup systemFields.movement.fields.climb value=system.movement.climb}}
    {{formGroup systemFields.movement.fields.swim value=system.movement.swim}}
    {{formGroup systemFields.movement.fields.fly value=system.movement.fly}}
    {{formGroup systemFields.movement.fields.teleport value=system.movement.teleport}}
  </fieldset>
</div>
</section>
