{{! Stats Tab }}
<section class='tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>
<fieldset class="flexrow">
  <legend>{{localize systemFields.characteristics.label}}</legend>
  {{#each characteristics as |chr key|}}
    <label class="flexcol">
      <a
        data-action="roll"
        data-roll-type="characteristic"
        data-characteristic="{{key}}"
        data-tooltip="{{localize "DRAW_STEEL.Roll.Prompt" prompt=(localize chr.field.hint)}}"
      >
        {{localize chr.field.label}}
      </a>
      <input type="text" data-dtype="Number" name="system.characteristics.{{key}}.value" value={{numberFormat chr.value sign=true}}>
    </label>
  {{/each}}
</fieldset>
<div class="flexrow">
  <fieldset>
    <legend>{{localize systemFields.combat.label}}</legend>
    {{formGroup systemFields.combat.fields.size value=system.stats.size}}
    {{formGroup systemFields.combat.fields.weight value=system.stats.weight}}
    {{formGroup systemFields.combat.fields.reach value=system.stats.reach}}
    {{formGroup systemFields.combat.fields.stability value=system.stats.stability}}
  </fieldset>
  <fieldset>
    <legend>{{localize systemFields.movement.label}}</legend>
    {{formGroup systemFields.movement.fields.walk value=system.movement.walk}}
    {{formGroup systemFields.movement.fields.burrow value=system.movement.burrow}}
    {{formGroup systemFields.movement.fields.climb value=system.movement.climb}}
    {{formGroup systemFields.movement.fields.swim value=system.movement.swim}}
    {{formGroup systemFields.movement.fields.fly value=system.movement.fly}}
    {{formGroup systemFields.movement.fields.teleport value=system.movement.teleport}}
  </fieldset>
</div>
</section>
