{{! Stats Tab }}
<section class="tab stats {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <fieldset class="resources flexrow">
    <legend>{{localize "DRAW_STEEL.Sheet.Resources"}}</legend>
    <div class="resource">
      <label class="resource-label">
        {{systemFields.stamina.label}}
      </label>
      <div class="resource-content flexrow">
        <div class="resource-current">
          {{formInput systemFields.stamina.fields.value value=system.stamina.value}}
        </div>
        <span class="resource-divider"> / </span>
        <span class="resource-max">
          {{#if isPlay}}
          {{system.stamina.max}}
          {{else}}
          {{formInput systemFields.stamina.fields.max value=system.stamina.max}}
          {{/if}}
        </span>
      </div>
    </div>
    {{#if (eq actor.type "character")}}
    <div class="resource">
      <label class="resource-label">
        {{systemFields.hero.fields.recoveries.label}}
      </label>
      <div class="resource-content flexrow">
        <div class="resource-current">
          {{formInput systemFields.hero.fields.recoveries.fields.value value=system.hero.recoveries.value}}
        </div>
        <span class="resource-divider"> / </span>
        <span class="resource-max">
          {{#if isPlay}}
          {{system.hero.recoveries.max}}
          {{else}}
          {{formInput systemFields.hero.fields.recoveries.fields.max value=system.hero.recoveries.max}}
          {{/if}}
        </span>
      </div>
    </div>
    <div class="resource">
      {{#if system.class}}
      {{#if isPlay}}
      <label>
        <span>{{system.hero.primary.label}}</span>
        {{formInput systemFields.hero.fields.primary.fields.value value=system.hero.primary.value}}
      </label>
      {{#if system.class.system.secondary}}
      <label>
        <span>{{system.hero.secondary.label}}</span>
        {{formInput systemFields.hero.fields.secondary.fields.value value=system.hero.secondary.value}}
      </label>
      {{/if}}
      {{else}}
      <label class="resource-label">
        {{systemFields.hero.label}}
      </label>
      <div class="resource-content">
        {{formInput systemFields.hero.fields.primary.fields.value value=system.hero.primary.value}}
        {{#if system.class.system.secondary}}
        {{formInput systemFields.hero.fields.secondary.fields.value value=system.hero.secondary.value}}
        {{/if}}
      </div>
      {{/if}}
      {{/if}}
    </div>
    {{/if}}
  </fieldset>
  <fieldset class="characteristics flexrow">
    <legend>{{systemFields.characteristics.label}}</legend>
    {{#each characteristics as |chr key|}}
    {{#if @root.isPlay}}
    <a class="characteristic play" data-action="roll" data-roll-type="characteristic" data-characteristic="{{key}}" data-tooltip="{{localize " DRAW_STEEL.Roll.Prompt" prompt chr.field.hint)}}">
      {{localize chr.field.label}} {{numberFormat chr.value sign=true}}
    </a>
    {{else}}
    <label class="characteristic edit" data-tooltip="{{chr.field.hint}}">
      <span class="label">{{localize chr.field.label}}</span>
      <input type="text" data-dtype="Number" name="system.characteristics.{{key}}.value" value="{{numberFormat" chr.value sign="true}}">
    </label>
    {{/if}}
    {{/each}}
  </fieldset>
  {{#if isPlay}}
  <div class="flexrow">
    <fieldset class="combat flexrow">
      <legend>{{systemFields.combat.label}}</legend>
      <span class="play">
        {{systemFields.combat.fields.size.label}} {{system.combat.size}}
      </span>
      <span class="play">
        {{systemFields.combat.fields.reach.label}} {{system.combat.reach}}
      </span>
      <span class="play">
        {{systemFields.combat.fields.stability.label}} {{system.combat.stability}}
      </span>
    </fieldset>
    <fieldset class="movement flexrow">
      <legend>{{systemFields.movement.label}}</legend>
      {{#each movement as |mvmt key|}}
      <span class="play">
        {{mvmt.field.label}} {{mvmt.value}}
      </span>
      {{/each}}
    </fieldset>
  </div>
  {{else}}
  <fieldset class="combat flexrow">
    <legend>{{systemFields.combat.label}}</legend>
    <div class="size flexrow">
      <label class="size">{{systemFields.combat.fields.size.label}}</label>
      {{formInput systemFields.combat.fields.size.fields.value value=system.combat.size.value rootId=actor.uuid}}
      {{#if (eq system.combat.size.value 1)}}
      {{formInput systemFields.combat.fields.size.fields.letter value=system.combat.size.letter rootId=actor.uuid}}
      {{/if}}
    </div>
    {{formGroup systemFields.combat.fields.reach value=system.combat.reach rootId=actor.uuid}}
    {{formGroup systemFields.combat.fields.stability value=system.combat.stability rootId=actor.uuid}}
  </fieldset>
  <fieldset class="movement flexrow">
    <legend>{{systemFields.movement.label}}</legend>
    {{formGroup systemFields.movement.fields.walk value=system.movement.walk rootId=actor.uuid}}
    {{formGroup systemFields.movement.fields.burrow value=system.movement.burrow rootId=actor.uuid}}
    {{formGroup systemFields.movement.fields.climb value=system.movement.climb rootId=actor.uuid}}
    {{formGroup systemFields.movement.fields.swim value=system.movement.swim rootId=actor.uuid}}
    {{formGroup systemFields.movement.fields.fly value=system.movement.fly rootId=actor.uuid}}
    {{formGroup systemFields.movement.fields.teleport value=system.movement.teleport rootId=actor.uuid}}
  </fieldset>
  {{/if}}
  <fieldset class="skills flexrow">
    <legend>{{systemFields.hero.fields.skills.label}}</legend>
    {{#if isPlay}}
    {{skills}}
    {{else}}
    {{formInput systemFields.hero.fields.skills value=system.hero.skills options=config.skills.optgroups}}
    {{/if}}
  </fieldset>
</section>
