{{! Abilities Tab }}
<section class="tab abilities {{tab.cssClass}}" data-group="primary" data-tab="abilities">
  {{#each abilities as |abilityType|}}
  {{#if abilityType.showHeader}}
  <section class="item-list-container">
    <div class="item-header">
      <div class="item-column item-name">{{abilityType.label}}</div>
      {{#if (eq @key "villain")}}
      <div class="item-column item-order">{{localize "DRAW_STEEL.Item.ability.Order"}}</div>
      {{else}}
      <div class="item-column item-cost">{{@root.abilityFields.resource.label}}</div>
      {{/if}}
      <div class="item-column item-distance">{{@root.abilityFields.distance.label}}</div>
      <div class="item-column item-target">{{@root.abilityFields.target.label}}</div>
      <div class="item-column item-controls">
        {{#if abilityType.showAdd}}
        {{#with (localize "DRAW_STEEL.SHEET.Add" itemName=(localize "TYPES.Item.ability")) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="ability" data-render-sheet="true" data-system.type="{{@key}}" data-tooltip-text="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/if}}
      </div>
    </div>
    <ol class="item-list abilities-list">
      {{#each abilityType.abilities as |abilityContext|}}
      <li class="item ability draggable expandable-document" data-document-uuid="{{abilityContext.item.uuid}}" data-document-id="{{abilityContext.item.id}}" data-item-id="{{abilityContext.item.id}}" data-document-class="Item" data-parent-uuid="{{abilityContext.item.parent.uuid}}">
        <div class="item-row">
          <div class="item-column item-name rollable" data-action="useAbility">
            <img class="item-image" src="{{abilityContext.item.img}}" alt="{{abilityContext.item.name}}">
            {{#if abilityContext.item.system.restricted}}
            <div class="restricted-warning" data-tooltip="DRAW_STEEL.Item.ability.Restricted">
              <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            {{/if}}
            <div class="name">
              <div class="label">{{abilityContext.item.name}}</div>
              <div class="keywords">{{abilityContext.formattedLabels.keywords}}</div>
            </div>
          </div>
          {{#if (eq @../key "villain")}}
          <div class="item-column item-order">
            {{abilityContext.order}}
          </div>
          {{else}}
          <div class="item-column item-cost">
            {{#if abilityContext.item.system.resource}}
            {{abilityContext.item.system.resource}} {{@root.system.coreResource.name}}
            {{/if}}
          </div>
          {{/if}}
          <div class="item-column item-distance">{{abilityContext.formattedLabels.distance}}</div>
          <div class="item-column item-target">{{abilityContext.formattedLabels.target}}</div>
          <div class="item-column item-controls">
            <a class="fa-solid fa-angle-{{ifThen abilityContext.expanded "down" "right"}}" data-action="toggleDocumentDescription"></a>
          </div>
        </div>
        <div class="document-description item-embed content-embed {{#if abilityContext.expanded}}expanded{{/if}}">
          {{#if abilityContext.expanded}}{{{abilityContext.embed.outerHTML}}}{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}
  {{/each}}
</section>
