<section class="standard-form tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="primary">
  <prose-mirror name="{{tier.name}}" class="journal-page-content" value="{{ tier.value }}"
    data-document-uuid="{{ uuid }}" collaborate></prose-mirror>
</section>
