<label>
  <span>{{localize "DRAW_STEEL.Roll.Power.Modifier.Edges"}}</span>
  <select name="edges">
    {{selectOptions modChoices selected=edge}}
  </select>
</label>
<label>
  <span>{{localize "DRAW_STEEL.Roll.Power.Modifier.Banes"}}</span>
  <select name="banes">
    {{selectOptions modChoices selected=bane}}
  </select>
</label>
{{#if skills}}
<label>
  <span>{{localize "DRAW_STEEL.Actor.Character.FIELDS.hero.skills.label"}}</span>
  <select name="skills">
    {{selectOptions skills blank=(localize "None")}}
  </select>
</label>
{{/if}}
