<header>
  <select>
    <option>None</option>
    <option>End of Turn</option>
    <option>Save Ends</option>
    <option>End of Encounter</option>
  </select>
</header>
<ul class="scrollable">
  {{#each statusEffects as |status|}}
  <li class="flexrow">
    <span class="title">{{status.title}}</span>
    <img class="effect-control {{status.cssClass}}" src="{{status.src}}" data-action="effect" alt="{{status.title}}" data-status-id="{{status.id}}">
  </li>
  {{/each}}
</ul>
