<div class="token-movement">
  <button type="button" class="control-icon" data-action="toggleMovementTray" data-tooltip="TOKEN.MOVEMENT.SelectType">
    <i class="{{currentMovement.icon}}"></i>
  </button>
  <div class="movement-modes {{movementTray}}">
    {{#each movementModes}}
    <label class="control-icon {{active}}" data-action="changeMovement" data-type="{{type}}">
      <i class="{{icon}}"></i>
      {{localize label}}
    </label>
    {{/each}}
  </div>
  <button type="button" class="control-icon {{shifting}}" data-action="shifting" data-tooltip="TOKEN.MOVEMENT.ToggleShift">
    <i class="fa-solid fa-hood-cloak"></i>
  </button>
</div>
