<div class="waypoint-label {{cssClass}}" style="--position-x: {{position.x}}px; --position-y: {{position.y}}px; --ui-scale: {{uiScale}}">
  {{#if action.icon}}
  <i class="icon {{action.icon}}"></i>
  {{else if action.label}}
  <label class="action-label">{{action.label}}</label>
  {{/if}}
  <span class="total-cost">{{totalCost}} {{units}}</span>
  {{#if deltaCost}}
  <span class="delta-cost">({{deltaCost}})</span>
  {{/if}}
  {{#if hasElevation}}
  <i class="icon fa-solid {{elevationIcon}}"></i>
  <span class="total-elevation">{{totalElevation}} {{units}}</span>
  {{#if deltaElevation}}
  <span class="delta-elevation">({{deltaElevation}})</span>
  {{/if}}
  {{/if}}
  {{#if strikes}}
  <i class="icon fa-solid fa-swords"></i>
  <span class="total-strikes">{{strikes.total}}</span>
  {{#if strikes.delta}}
  <span class="delta-strikes">(+{{strikes.delta}})</span>
  {{/if}}
  {{/if}}
  {{#if secret}}
  <i class="icon fa-solid fa-eye-slash"></i>
  {{/if}}
</div>
