<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  {{#with tierFields.damage}}
  {{formGroup value.field value=value.src name=value.name placeholder=value.placeholder localize=true}}
  {{formGroup types.field value=types.src name=types.name options=@root.fields.damageTypes localize=true}}
  {{/with}}
  {{#with tierFields.applied}}
  {{formGroup display.field value=display.src name=display.name placeholder=display.placeholder localize=true}}
  {{formGroup always.field value=always.src name=always.name options=effectOptions localize=true}}
  {{#with potency}}
  <fieldset>
    <legend>{{localize field.label}}</legend>
    {{formGroup
    characteristic.field
    value=characteristic.src
    name=characteristic.name
    options=characteristic.options
    blank=characteristic.blank
    localize=true
    }}
    {{formGroup value.field value=value.src name=value.name placeholder=value.field.initial localize=true}}
    {{formGroup failure.field value=failure.src name=failure.name options=../effectOptions localize=true}}
    {{formGroup success.field value=success.src name=success.name options=../effectOptions localize=true}}
  </fieldset>
  {{/with}}
  {{/with}}
  {{#with tierFields.forced}}
  {{formGroup display.field value=display.src name=display.name placeholder=display.placeholder localize=true}}
  {{formGroup movement.field value=movement.src name=movement.name options=movement.options localize=true}}
  {{formGroup distance.field value=distance.src name=distance.name localize=true}}
  {{formGroup vertical.field value=vertical.src name=vertical.name localize=true}}
  {{formGroup ignoreStability.field value=ignoreStability.src name=ignoreStability.name localize=true}}
  {{#with potency}}
  <fieldset>
    <legend>{{localize field.label}}</legend>
    {{formGroup
    characteristic.field
    value=characteristic.src
    name=characteristic.name
    options=characteristic.options
    blank=characteristic.blank
    localize=true
    }}
    {{formGroup value.field value=value.src name=value.name placeholder=value.field.initial localize=true}}
  </fieldset>
  {{/with}}
  {{/with}}
  {{#with tierFields.text}}
  {{formGroup value.field value=value.src name=value.name placeholder=value.placeholder localize=true}}
  {{/with}}
</section>
