{{#* inline "potencyFields"}}
<fieldset>
  <legend>{{localize field.label}}</legend>
  {{formGroup
  characteristic.field
  value=characteristic.src
  name=characteristic.name
  options=@root.fields.characteristic
  blank=characteristic.blank
  localize=true
  }}
  {{formGroup value.field value=value.src name=value.name placeholder=value.field.initial localize=true}}

  {{> @partial-block}}
</fieldset>
{{/inline}}

<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  {{#with tierFields.damage}}
  {{formGroup value.field value=value.src name=value.name placeholder=value.placeholder localize=true}}
  {{formGroup types.field value=types.src name=types.name options=@root.fields.damageTypes localize=true}}
  {{formGroup ignoredImmunities.field value=ignoredImmunities.src name=ignoredImmunities.name options=@root.fields.immunityTypes localize=true}}
  {{#> potencyFields potency}}{{/potencyFields}}
  {{/with}}
  {{#with tierFields.applied}}
  {{formGroup display.field value=display.src name=display.name placeholder=display.placeholder localize=true}}
  {{#> potencyFields potency}}{{/potencyFields}}
  <div class="form-group">
    <label>{{localize "DRAW_STEEL.ActiveEffect.Applied"}}</label>
    <div class="form-field">
      <select data-name="{{effects.name}}">
        {{selectOptions effects.options blank=(localize "DRAW_STEEL.POWER_ROLL_EFFECT.APPLIED.CreateCustomEffect")}}
      </select>
    </div>
    <button type="button" class="icon fa-solid fa-plus" data-action="addAppliedEffect" data-path="{{effects.name}}"></button>
  </div>
  {{#each effects.entries as |appliedEffect|}}
  <fieldset data-effect-id="{{appliedEffect.id}}" data-path="{{../effects.name}}">
    <legend>
      {{appliedEffect.label}}
      <button type="button" class="icon fa-solid fa-trash" data-action="deleteAppliedEffectEntry"></button>
      {{#if isEffect}}<button type="button" class="icon fa-solid fa-edit" data-action="editAppliedEffect"></button>{{/if}}
    </legend>
    {{formGroup ../effects.elementFields.condition value=appliedEffect.condition.value name=appliedEffect.condition.name localize=true}}
    {{formGroup ../effects.elementFields.end value=appliedEffect.end.value name=appliedEffect.end.name localize=true}}
    {{formGroup ../effects.elementFields.properties value=appliedEffect.properties.value name=appliedEffect.properties.name localize=true options=../effects.propertyOptions}}
  </fieldset>
  {{/each}}
  {{/with}}
  {{#with tierFields.forced}}
  {{formGroup display.field value=display.src name=display.name placeholder=display.placeholder localize=true}}
  {{formGroup movement.field value=movement.src name=movement.name options=@root.fields.movement localize=true}}
  {{formGroup distance.field value=distance.src name=distance.name localize=true}}
  {{formGroup properties.field value=properties.src name=properties.name options=@root.fields.properties localize=true}}
  {{#> potencyFields potency}}{{/potencyFields}}
  {{/with}}
  {{#with tierFields.resource}}
  {{formGroup display.field value=display.src name=display.name placeholder=display.placeholder localize=true}}
  {{formGroup amount.field value=amount.src name=amount.name placeholder=amount.placeholder localize=true}}
  {{formGroup type.field value=type.src name=type.name localize=true options=type.options}}
  {{/with}}
  {{#with tierFields.other}}
  {{formGroup display.field value=display.src name=display.name placeholder=display.placeholder localize=true}}
  {{#> potencyFields potency}}{{/potencyFields}}
  {{/with}}
</section>
