<section class="{{tabs.identity.cssClass}}" data-tab="{{tabs.identity.id}}" data-group="{{tabs.identity.group}}">
  <fieldset>
    <legend>{{localize "DRAW_STEEL.PSEUDO.SHEET.baseConfiguration"}}</legend>
    {{formGroup fields.text.field value=fields.text.src name=fields.text.name placeholder=fields.text.placeholder label="Text"}}
  </fieldset>
</section>
