<section class="{{tabs.identity.cssClass}}" data-tab="{{tabs.identity.id}}" data-group="{{tabs.identity.group}}">
  <fieldset>
    <legend>{{localize "DRAW_STEEL.PSEUDO.SHEET.baseConfiguration"}}</legend>
    {{formGroup fields.name.field value=fields.name.src name=fields.name.name placeholder=fields.name.placeholder}}
  </fieldset>
</section>
