<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="advancement" data-subtype="{{document.type}}" data-pseudo-document-name="Advancement">
  <div class="section-header">
    <button type="button" data-action="{{ifThen (eq document.type "culture") "createCultureAdvancement" "createPseudoDocument" }}" {{disabled (not @root.editable)}}>
      <i class="{{advancementIcon}}"></i>
      {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.Advancement")}}
    </button>
  </div>
  {{#each advancements}}
  <fieldset>
    <legend>{{section}}</legend>
    {{#each documents}}
    <div class="form-group" data-pseudo-id="{{id}}">
      <label data-tooltip-html="{{enrichedDescription}}">{{name}}</label>
      <div class="form-fields">
        <button type="button" data-action="renderPseudoDocumentSheet" class="icon fa-fw fa-solid fa-cog" {{disabled (not @root.editable)}}></button>
        <button type="button" data-action="deletePseudoDocument" class="icon fa-solid fa-fw fa-trash" {{disabled (not @root.editable)}}></button>
      </div>
    </div>
    {{/each}}
  </fieldset>
  {{/each}}
</section>
