{{! Impact Tab }}
<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="impact" data-subtype="{{document.type}}">
  <div class="effect form-group stacked">
    <label>{{systemFields.effect.fields.before.label}}</label>
    {{#if isPlay}}
    {{{enrichedBeforeEffect}}}
    {{else}}
    <div class="form-fields">
      {{formInput systemFields.effect.fields.before value=system.effect.before height="200"}}
    </div>
    {{/if}}
  </div>

  <fieldset class="power-roll-data">
    <legend>{{localize "DRAW_STEEL.Item.ability.FIELDS.power.label"}}</legend>
    {{#with systemFields.power.fields.roll.fields as |powerRoll|}}
    {{formGroup powerRoll.characteristics value=@root.system.power.roll.characteristics options=@root.characteristics disabled=@root.isPlay}}
    {{formGroup powerRoll.formula value=@root.system.power.roll.formula placeholder=powerRoll.formula.initial disabled=@root.isPlay}}
    {{/with}}
  </fieldset>

  <fieldset data-pseudo-document-name="PowerRollEffect">
    <legend>{{systemFields.power.fields.effects.label}}</legend>
    {{#unless isPlay}}
    <button type="button" data-action="createPseudoDocument">
      <i class="fa-solid fa-plus"></i>
      {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.PowerRollEffect")}}
    </button>
    {{/unless}}
    {{!-- Using document.system to ensure initialized values in edit mode --}}
    <div class="power-roll-list">
      {{#each document.system.power.effects as |effect|}}
      <button type="button" class="power-roll" data-action="renderPseudoDocumentSheet" data-pseudo-id="{{effect.id}}">
        {{localize effect.name}}
      </button>
      {{/each}}
    </div>
  </fieldset>

  <fieldset>
    <legend>{{systemFields.spend.label}}</legend>
    {{formGroup systemFields.spend.fields.value value=system.spend.value disabled=@root.isPlay}}
    {{formGroup systemFields.spend.fields.text value=system.spend.text disabled=@root.isPlay}}
  </fieldset>

  <div class="effect form-group stacked">
    <label>{{systemFields.effect.fields.after.label}}</label>
    {{#if isPlay}}
    {{{enrichedAfterEffect}}}
    {{else}}
    <div class="form-fields">
      {{formInput systemFields.effect.fields.after value=system.effect.after height="200"}}
    </div>
    {{/if}}
  </div>
</section>
