<section class="{{tabs.details.cssClass}}" data-tab="{{tabs.details.id}}" data-group="{{tabs.details.group}}">
  <fieldset>
    <legend>{{localize "DRAW_STEEL.ADVANCEMENT.SHEET.requirements"}}</legend>
    {{formGroup fields.requirements.fields.level value=source.requirements.level name="requirements.level"}}
    {{formGroup fields.chooseN value=source.chooseN name="chooseN" placeholder=(localize "DRAW_STEEL.ADVANCEMENT.SHEET.chooseAll")}}
  </fieldset>

  {{!-- ITEM GRANT POOL --}}
  {{#if (eq document.type "itemGrant")}}
  <section class="drop-target-area">
    {{#each ctx.itemPool}}
    <div class="form-group" data-pool-index="{{@index}}">
      <label>{{{link.outerHTML}}}</label>
      <div class="form-fields">
        <button type="button" data-action="deletePoolItem" class="icon fa-solid fa-trash"></button>
      </div>
    </div>
    {{/each}}
  </section>
  {{/if}}

  {{!-- TRAIT LIST --}}
  {{#if (eq document.type "trait")}}
  <h4 class="section-header">
    <span>{{localize "DRAW_STEEL.ADVANCEMENT.SHEET.traits"}}</span>
    <button type="button" class="icon fa-solid fa-fw fa-circle-plus" data-action="addTrait"></button>
  </h4>
  {{#each ctx.traits}}
  <div class="form-group inline" data-trait-id="{{trait.id}}">
    <label>{{localize (concat "TYPES.TraitChoice." trait.type)}}</label>
    <div class="form-fields">
      {{formGroup fields.options value=trait.options options=options name=(concat "traits." trait.id ".options")}}
      <button type="button" class="icon fa-solid fa-fw fa-trash" data-action="deleteTrait"></button>
    </div>
    <p class="hint">{{trait}}</p>
  </div>
  {{/each}}
  {{/if}}
</section>
