<section class="{{tabs.identity.cssClass}}" data-tab="{{tabs.identity.id}}" data-group="{{tabs.identity.group}}">
  {{formGroup fields.name value=source.name placeholder=(localize (concat "TYPES.Advancement." source.type)) name="name"}}
  {{formGroup fields.img value=source.img name="img"}}
</section>
