{{! Stats Tab }}
<section class="tab stats standard-form {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="flexrow fieldgroup">
    <fieldset class="resources flexrow">
      <legend>{{localize "DRAW_STEEL.Sheet.Resources"}}</legend>
      <div class="resource stamina">
        <label class="resource-label">
          {{systemFields.stamina.label}}
        </label>
        <div class="resource-content flexrow">
          {{#if isPlay}}
          <div class="resource-temporary">
            {{formGroup
            systemFields.stamina.fields.temporary
            value=system.stamina.temporary
            dataset=datasets.notSource
            classes="paired"
            }}
          </div>
          <div class="resource-current">
            {{#if isSingleSquadMinion}}
            {{formGroup
            combatGroup.system.schema.fields.staminaValue
            value=combatGroup.system.staminaValue
            name="squadStaminaValue"
            classes="paired"
            label=(localize "TYPES.CombatantGroup.squad")
            }}
            {{else}}
            {{formGroup
            systemFields.stamina.fields.value
            value=system.stamina.value
            dataset=datasets.notSource
            classes="paired"
            }}
            {{/if}}
          </div>
          {{/if}}
          <span class="resource-max">
            {{#if isPlay}}
            <div class="form-group paired">
              <label class="input-placeholder-label">
                {{systemFields.stamina.fields.max.label}}
              </label>
              <div class="input-placeholder">
                {{#if isSingleSquadMinion}}
                {{combatGroup.system.staminaMax}}
                {{else}}
                {{system.stamina.max}}
                {{/if}}
              </div>
            </div>
            {{else}}
            {{formGroup systemFields.stamina.fields.max value=systemSource.stamina.max dataset=datasets.isSource classes="paired"}}
            {{/if}}
          </span>
        </div>
      </div>
    </fieldset>
    <fieldset class="free-strike">
      <legend>{{systemFields.monster.fields.freeStrike.label}}</legend>
      <div class="free-strike-body">
        {{#if isPlay}}
        {{#if gm}}
        <button type="button" data-action="freeStrike">
          <i class="fa-solid fa-burst"></i>
          {{system.monster.freeStrike}}
        </button>
        {{else}}
        <span>
        </span>
        {{/if}}
        {{else}}
        {{formInput systemFields.monster.fields.freeStrike value=systemSource.monster.freeStrike dataset=datasets.isSource}}
        {{/if}}
      </div>
    </fieldset>
  </div>
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/characteristics.hbs"}}
  {{#if isPlay}}
  <div class="flexrow">
    {{> "systems/draw-steel/templates/actor/shared/partials/stats/combat.hbs"}}
    {{> "systems/draw-steel/templates/actor/shared/partials/stats/movement.hbs"}}
  </div>
  {{else}}
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/combat.hbs"}}
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/movement.hbs"}}
  {{/if}}
  {{> "systems/draw-steel/templates/actor/shared/partials/stats/immunities-weaknesses.hbs"}}
</section>
