<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="advancement" data-subtype="{{document.type}}">
  {{log this level="warn"}}

  <section class="advancements" data-pseudo-document-name="Advancement">

    <h3 class="section-header">
      <span>{{localize "DOCUMENT.AdvancementPl"}}</span>
      <button type="button" data-action="createPseudoDocument" class="icon fa-fw fa-solid fa-circle-plus" {{disabled (not @root.editable)}}></button>
    </h3>

    {{#each advancements}}
    <h4 class="section-header">
      <span>{{section}}</span>
    </h4>
    {{#each documents as |adv|}}
    <div class="form-group" data-pseudo-id="{{adv.id}}">
      {{adv.name}}
      <div class="form-fields">
        <button type="button" data-action="renderPseudoDocumentSheet" class="icon fa-fw fa-solid fa-cog" {{disabled (not @root.editable)}}></button>
        <button type="button" data-action="deletePseudoDocument" class="icon fa-solid fa-fw fa-trash" {{disabled (not @root.editable)}}></button>
      </div>
    </div>
    {{/each}}
    {{/each}}

  </section>
</section>
