{{! Description Tab }}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="description">
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}

  {{#if editable}}
  {{formGroup
  systemFields.description.fields.value
  enriched=enrichedDescription
  value=systemSource.description.value
  documentUUID=item.uuid
  collaborate=true
  toggled=true
  height=200
  }}
  {{#if gm}}
  {{formGroup
  systemFields.description.fields.gm
  enriched=enrichedGMNotes
  value=systemSource.biography.gm
  documentUUID=item.uuid
  toggled=true
  height=300
  }}
  {{/if}}
  {{else}}
  <fieldset>
    <legend>{{systemFields.description.fields.value.label}}</legend>
    {{{enrichedDescription}}}
  </fieldset>
  {{#if gm}}
  <fieldset>
    <legend>{{systemFields.description.fields.gm.label}}</legend>
    {{{enrichedGMNotes}}}
  </fieldset>
  {{/if}}
  {{/if}}
</section>
