{{! Description Tab }}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="description">
  <label class="html-description">
    {{systemFields.description.fields.value.label}}
    {{#unless isPlay}}
    <a class="label-action" data-action="editHTML" data-path="system.description.value">
      <i class="fa-solid fa-feather"></i>
    </a>
    {{/unless}}
  </label>
  <div class="description value play">
    {{{enrichedDescription}}}
  </div>
  {{#if gm}}
  <label class="html-description">
    {{systemFields.description.fields.gm.label}}
    {{#unless isPlay}}
    <a class="label-action" data-action="editHTML" data-path="system.description.value">
      <i class="fa-solid fa-feather"></i>
    </a>
    {{/unless}}
  </label>
  <div class="description gm play">
    {{{enrichedGMNotes}}}
  </div>
  {{/if}}
</section>
