{{! Description Tab }}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="description">
  <div class="prosemirror editor">
    <label class="description-label">
      {{systemFields.description.fields.value.label}}
      {{#unless isPlay}}
      <a class="label-action" data-action="editHTML" data-field-name="system.description.value">
        <i class="fa-solid fa-feather"></i>
      </a>
      {{/unless}}
    </label>
    <div class="description value editor-content">
      {{{enrichedDescription}}}
    </div>
  </div>
  <div class="prosemirror editor">
    {{#if gm}}
    <label class="description-label">
      {{systemFields.description.fields.gm.label}}
      {{#unless isPlay}}
      <a class="label-action" data-action="editHTML" data-field-name="system.description.gm">
        <i class="fa-solid fa-feather"></i>
      </a>
      {{/unless}}
    </label>
    <div class="description gm editor-content">
      {{{enrichedGMNotes}}}
    </div>
    {{/if}}
  </div>
</section>
