{{! Effects Tab }}
<section class="tab effects {{tab.cssClass}}" data-group="primary" data-tab="effects">
  <ol class="effects-list">
    {{#each effects as |section sid|}}
    <li class="effects-header flexrow" data-effect-type="{{section.type}}">
      <div class="effect-name effect-name flexrow">
        {{localize section.label}}
      </div>
      <div class="effect-source">
        {{localize "DRAW_STEEL.Effect.Source"}}
      </div>
      <div class="effect-source">{{localize "EFFECT.TabDuration"}}</div>
      <div class="effect-controls effect-controls flexrow">
        <!-- eslint-disable-next-line @html-eslint/attrs-newline -->
        <a
          class="effect-control"
          data-action="createDoc"
          data-document-class="ActiveEffect"
          data-origin="{{@root.item.uuid}}"
          data-img="icons/svg/aura.svg"
          {{! eslint-disable-next-line @html-eslint/no-duplicate-attrs }}
          {{#if (eq section.type "inactive")}}
          data-disabled="true"
          {{else if (eq section.type "temporary")}}
          data-duration.rounds="1"
          {{else if (eq section.type "applied")}}
          data-transfer="false"
          {{/if}}
          data-tooltip="{{localize "DOCUMENT.Create" type="Effect"}}"
          >
          <i class="fas fa-plus"></i>
          {{localize "DOCUMENT.New" type="Effect"}}
        </a>
      </div>
    </li>
    <ol class="effect-list">
      {{#each section.effects as |effect|}}
      <li class="item effect flexrow" data-effect-id="{{effect.id}}" data-parent-id="{{effect.parent.id}}" data-drag="true">
        <div class="effect-name effect-name flexrow">
          <img class="effect-image" src="{{effect.img}}" height="24" width="24" alt="{{effect.name}}">
          <div>{{effect.name}}</div>
        </div>
        <div class="effect-source">{{effect.sourceName}}</div>
        <div class="effect-duration">{{effect.duration.label}}</div>
        <div class="effect-controls effect-controls flexrow">
          {{#if @root.editable}}
          <a class="effect-control" data-action="toggleEffect" data-tooltip="DRAW_STEEL.Effect.Toggle">
            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
          </a>
          {{/if}}
          <a class="effect-control" data-action="viewDoc" data-document-class="ActiveEffect" data-tooltip="{{localize "DOCUMENT.Update" type="Effect" }}">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
          <a class="effect-control" data-action="deleteDoc" data-document-class="ActiveEffect" data-tooltip="{{localize "DOCUMENT.Delete" type="Effect" }}">
            <i class="fas fa-trash"></i>
          </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
    {{/each}}
  </ol>
</section>
