<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="impact" data-subtype="{{document.type}}">
  <fieldset class="power-roll-data">
    <legend>{{localize "DRAW_STEEL.Item.Ability.FIELDS.power.label"}}</legend>
    {{#with systemFields.power.fields.roll.fields as |powerRoll|}}
    {{formGroup powerRoll.characteristics value=@root.system.power.roll.characteristics options=@root.characteristics disabled=@root.isPlay}}
    {{formGroup powerRoll.formula value=@root.system.power.roll.formula placeholder=powerRoll.formula.initial disabled=@root.isPlay}}
    {{/with}}

  </fieldset>

  <fieldset>
    <legend>{{systemFields.power.fields.effects.label}}</legend>
    {{#unless isPlay}}
    <button type="button" data-action="createPowerRollEffect">
      <i class="fa-solid fa-plus"></i>
      {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.PowerRollEffect")}}
    </button>
    {{/unless}}
    {{!-- Using document.system to ensure initialized values in edit mode --}}
    <div class="power-roll-list">
      {{#each document.system.power.effects as |effect|}}
      <button type="button" class="power-roll" data-action="editPowerRollEffect" data-id="{{effect.id}}">
        {{localize effect.typeLabel}}
      </button>
      {{/each}}
    </div>
  </fieldset>
  <fieldset>
    <legend>{{systemFields.spend.label}}</legend>
    {{formGroup systemFields.spend.fields.value value=system.spend.value disabled=@root.isPlay}}
    {{formGroup systemFields.spend.fields.text value=system.spend.text disabled=@root.isPlay}}
  </fieldset>
  {{#if isPlay}}
  {{{enrichedEffect}}}
  {{else}}
  {{formGroup systemFields.effect value=system.effect height="200"}}
  {{/if}}
</section>
