<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="impact" data-subtype="{{document.type}}">
  <fieldset class="power-roll-data">
    <legend>{{localize "DRAW_STEEL.Item.Ability.FIELDS.power.label"}}</legend>
    {{#with systemFields.power.fields.roll.fields as |powerRoll|}}
    {{formGroup powerRoll.characteristics value=@root.system.power.roll.characteristics options=@root.characteristics}}
    {{formGroup powerRoll.formula value=@root.system.power.roll.formula placeholder=powerRoll.formula.initial}}
    {{/with}}
    <div class="power-roll-list">
      {{!-- Using document.system to ensure initialized values in edit mode --}}
      {{#each document.system.power.effects as |effect|}}
      <button type="button" class="power-roll flexrow" data-action="editPowerRollEffect" data-id="{{effect.id}}">
        {{localize effect.typeLabel}}
      </button>
      {{/each}}
      {{#if editable}}
      <button type="button" data-action="createPowerRollEffect">
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.PowerRollEffect")}}
      </button>
      {{/if}}
    </div>
  </fieldset>
  <fieldset>
    <legend>{{systemFields.spend.label}}</legend>
    {{formGroup systemFields.spend.fields.value value=system.spend.value}}
    {{formGroup systemFields.spend.fields.text value=system.spend.text}}
  </fieldset>
  <div class="effect">
    {{#if isPlay}}
    {{{enrichedEffect}}}
    {{else}}
    {{formGroup systemFields.effect value=system.effect height="200"}}
    {{/if}}
  </div>
</section>
