<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="powerRoll" data-subtype="{{document.type}}">
  <div class="power-roll-data">
    {{#with systemFields.power.fields.roll.fields as |powerRoll|}}
    {{formGroup powerRoll.formula value=@root.system.power.roll.formula placeholder=powerRoll.formula.initial}}
    {{formGroup powerRoll.characteristics value=@root.system.power.roll.characteristics options=@root.characteristics}}
    {{/with}}
  </div>
  <div class="power-roll-list">
    {{#each system.power.effects as |effect|}}
    <button type="button" class="flexrow filled" data-action="editPowerRollEffect" data-id="{{effect._id}}">
      <label>{{effect.type}}</label>
      <div class="controls">
        {{#if (and (not @root.isPlay) @root.editable)}}
        <a class="deleteControl" data-action="deletePowerRollEffect">
          <i class="fa-solid fa-trash"></i>
        </a>
        {{/if}}
      </div>
    </button>
    {{/each}}
    {{#if editable}}
    <button type="button" class="unfilled" data-action="createPowerRollEffect">
      <i class="fa-solid fa-plus"></i>
      {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.PowerRollEffect")}}
    </button>
    {{/if}}
  </div>
</section>
