<div class="mode-toggle flexrow">
  <span class="label play {{ifThen isPlay "active" ""}}">{{localize "DRAW_STEEL.Sheet.Play"}}</span>
  <slide-toggle class="mode-slider" data-action="toggleMode" {{checked (not isPlay)}}>
  </slide-toggle>
  <span class="label edit {{ifThen isPlay "" "active"}}">{{localize "DRAW_STEEL.Sheet.Edit"}}</span>
</div>
