<section class="standard-form">
  {{formGroup sourceFields.book value=sourceValues.book}}
  {{formGroup sourceFields.page value=sourceValues.page}}
  {{formGroup sourceFields.license value=sourceValues.license}}
  {{formGroup sourceFields.revision value=sourceValues.revision}}
  {{#if systemFields._dsid}}
  {{formGroup systemFields._dsid value=systemSource._dsid}}
  {{/if}}
  {{#if sourceLink}}
  <div class="form-group inline">
    <label>{{localize "DRAW_STEEL.SOURCE.CompendiumSource.Label"}}</label>
    <div class="form-fields">
      {{!-- Don't want the link border to expand, so wrappin in another element --}}
      <span>{{{sourceLink.outerHTML}}}</span>
      <button
        type="button"
        data-action="clearCompendiumSource"
        data-tooltip="DRAW_STEEL.SOURCE.CompendiumSource.Clear"
        data-tooltip-direction="UP"
        class="icon fa-solid fa-trash"
      >
      </button>
    </div>
  </div>
  {{/if}}
</section>
