<section class="standard-form">
  {{formGroup monsterFields.keywords value=systemSource.monster.keywords options=monsterKeywords}}
  {{formGroup monsterFields.level value=systemSource.monster.level}}
  {{formGroup monsterFields.organization value=systemSource.monster.organization options=monsterOrganizations}}
  {{formGroup monsterFields.role value=systemSource.monster.role options=monsterRoles}}
  {{formGroup systemFields.ev value=systemSource.ev}}
</section>
