<section class="standard-form">
  {{formGroup objectFields.level value=systemSource.object.level}}
  {{formGroup objectFields.category value=systemSource.object.category options=objectCategories}}
  {{formGroup objectFields.role value=systemSource.object.role options=objectRoles}}
  {{formGroup systemFields.ev value=systemSource.ev}}
  {{formGroup objectFields.area value=systemSource.object.area}}
</section>
